# SQLite Tutorial

In [10]:
class Employee:
    """A sample Employee class."""

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.pay = pay


    @property
    def email(self):
        return '{}.{}@email.com'.format(self.first, self.last)

    @property
    def fullname(self):
        return '{} {}'.format(self.first, self.last)

    def __repr__(self):
        return "Employee('{}', '{}', {})".format(self.first, self.last, self.pay)

## Creating a database 

Creating a database enployee with the table employees.

In [11]:
import sqlite3

conn = sqlite3.connect('employee.db')

c = conn.cursor()

c.execute("""CREATE TABLE employees (
            first TEXT,
            last TEXT,
            pay INTEGER
        )""")


conn.commit()
conn.close()

## Insert the data

Insert the data into database employees

In [12]:
import sqlite3

conn = sqlite3.connect('employee.db')

c = conn.cursor()

c.execute("INSERT INTO employees VALUES ('Amit', 'Dravid', 50000)")


conn.commit()
conn.close()

## Retreiving the data

Retreiving the data from the table employees.

In [13]:
import sqlite3

conn = sqlite3.connect('employee.db')

c = conn.cursor()

c.execute("select * from employees")

print(c.fetchone())


conn.commit()
conn.close()

('Amit', 'Dravid', 50000)

In [14]:
import sqlite3

conn = sqlite3.connect('employee.db')

c = conn.cursor()

c.execute("INSERT INTO employees VALUES ('Sachin', 'Rahane', 54000)")
conn.commit()

c.execute("select * from employees")
print(c.fetchall())


conn.close()

[('Amit', 'Dravid', 50000), ('Sachin', 'Rahane', 54000)]

In [15]:
# Different ways of inserting the data into database.

import sqlite3

conn = sqlite3.connect('employee.db')

c = conn.cursor()

emp1 = Employee('Naresh', 'Batra', 58000)
emp2 = Employee('Rohit', 'Nandy', 51000)

c.execute("INSERT INTO employees VALUES (?, ?, ?)", (emp1.first, emp1.last, emp1.pay))
c.execute("INSERT INTO employees VALUES (:first, :last, :pay)", {'first':emp1.first, 'last':emp2.last, 'pay':emp2.pay})

conn.commit()

c.execute("select * from employees")
print(c.fetchall())


conn.close()

[('Amit', 'Dravid', 50000), ('Sachin', 'Rahane', 54000), ('Naresh', 'Batra', 58000), ('Naresh', 'Nandy', 51000)]

In [17]:
# Different ways of selecting the data into database.

import sqlite3

conn = sqlite3.connect('employee.db')

c = conn.cursor()

c.execute("select * from employees where first=?", ('Sachin',))
print(c.fetchall())
c.execute("select * from employees where last=:last", {'last': 'Batra'})
print(c.fetchall())


conn.close()

[('Sachin', 'Rahane', 54000)]
[('Naresh', 'Batra', 58000)]

In [ ]:
## In memory operation using context manager.

import sqlite3
from employee import Employee

conn = sqlite3.connect(':memory:')

c = conn.cursor()

c.execute("""CREATE TABLE employees (
            first text,
            last text,
            pay integer
            )""")


def insert_emp(emp):
    with conn:
        c.execute("INSERT INTO employees VALUES (:first, :last, :pay)", {'first': emp.first, 'last': emp.last, 'pay': emp.pay})


def get_emps_by_name(lastname):
    c.execute("SELECT * FROM employees WHERE last=:last", {'last': lastname})
    return c.fetchall()


def update_pay(emp, pay):
    with conn:
        c.execute("""UPDATE employees SET pay = :pay
                    WHERE first = :first AND last = :last""",
                  {'first': emp.first, 'last': emp.last, 'pay': pay})


def remove_emp(emp):
    with conn:
        c.execute("DELETE from employees WHERE first = :first AND last = :last",
                  {'first': emp.first, 'last': emp.last})

emp_1 = Employee('John', 'Doe', 80000)
emp_2 = Employee('Jane', 'Doe', 90000)

insert_emp(emp_1)
insert_emp(emp_2)

emps = get_emps_by_name('Doe')
print(emps)

update_pay(emp_2, 95000)
remove_emp(emp_1)

emps = get_emps_by_name('Doe')
print(emps)

conn.close()