# Pandas Tutorial

## 1. Installation and Loading Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/survey_results_public.csv', index_col='Respondent')

In [3]:
df.shape

(88883, 84)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88883 entries, 1 to 88863
Data columns (total 84 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   MainBranch              88331 non-null  object
 1   Hobbyist                88883 non-null  object
 2   OpenSourcer             88883 non-null  object
 3   OpenSource              86842 non-null  object
 4   Employment              87181 non-null  object
 5   Country                 88751 non-null  object
 6   Student                 87014 non-null  object
 7   EdLevel                 86390 non-null  object
 8   UndergradMajor          75614 non-null  object
 9   EduOther                84260 non-null  object
 10  OrgSize                 71791 non-null  object
 11  DevType                 81335 non-null  object
 12  YearsCode               87938 non-null  object
 13  Age1stCode              87634 non-null  object
 14  YearsCodePro            74331 non-null  object
 15  CareerSat               72847 non-null  object
 16  JobSat                  70988 non-null  object
 17  MgrIdiot                61159 non-null  object
 18  MgrMoney                61157 non-null  object
 19  MgrWant                 61232 non-null  object
 20  JobSeek                 80555 non-null  object
 21  LastHireDate            79854 non-null  object
 22  LastInt                 67155 non-null  object
 23  FizzBuzz                71344 non-null  object
 24  JobFactors              79371 non-null  object
 25  ResumeUpdate            77877 non-null  object
 26  CurrencySymbol          71392 non-null  object
 27  CurrencyDesc            71392 non-null  object
 28  CompTotal               55945 non-null  float64
 29  CompFreq                63268 non-null  object
 30  ConvertedComp           55823 non-null  float64
 31  WorkWeekHrs             64503 non-null  float64
 32  WorkPlan                68914 non-null  object
 33  WorkChallenge           68141 non-null  object
 34  WorkRemote              70284 non-null  object
 35  WorkLoc                 70055 non-null  object
 36  ImpSyn                  71779 non-null  object
 37  CodeRev                 70390 non-null  object
 38  CodeRevHrs              49790 non-null  float64
 39  UnitTests               62668 non-null  object
 40  PurchaseHow             61108 non-null  object
 41  PurchaseWhat            62029 non-null  object
 42  LanguageWorkedWith      87569 non-null  object
 43  LanguageDesireNextYear  84088 non-null  object
 44  DatabaseWorkedWith      76026 non-null  object
 45  DatabaseDesireNextYear  69147 non-null  object
 46  PlatformWorkedWith      80714 non-null  object
 47  PlatformDesireNextYear  77443 non-null  object
 48  WebFrameWorkedWith      65022 non-null  object
 49  WebFrameDesireNextYear  62944 non-null  object
 50  MiscTechWorkedWith      59586 non-null  object
 51  MiscTechDesireNextYear  64511 non-null  object
 52  DevEnviron              87317 non-null  object
 53  OpSys                   87851 non-null  object
 54  Containers              85366 non-null  object
 55  BlockchainOrg           48175 non-null  object
 56  BlockchainIs            60165 non-null  object
 57  BetterLife              86269 non-null  object
 58  ITperson                87141 non-null  object
 59  OffOn                   86663 non-null  object
 60  SocialMedia             84437 non-null  object
 61  Extraversion            87305 non-null  object
 62  ScreenName              80486 non-null  object
 63  SOVisit1st              83877 non-null  object
 64  SOVisitFreq             88263 non-null  object
 65  SOVisitTo               88086 non-null  object
 66  SOFindAnswer            87816 non-null  object
 67  SOTimeSaved             86344 non-null  object
 68  SOHowMuchTime           68378 non-null  object
 69  SOAccount               87828 non-null  object
 70  SOPartFreq              74692 non-null  object
 71  SOJobs                  88066 non-null  object
 72  EntTeams                87841 non-null  object
 73  SOComm                  88131 non-null  object
 74  WelcomeChange           85855 non-null  object
 75  SONewContent            69560 non-null  object
 76  Age                     79210 non-null  float64
 77  Gender                  85406 non-null  object
 78  Trans                   83607 non-null  object
 79  Sexuality               76147 non-null  object
 80  Ethnicity               76668 non-null  object
 81  Dependents              83059 non-null  object
 82  SurveyLength            86984 non-null  object
 83  SurveyEase              87081 non-null  object
dtypes: float64(5), object(79)
memory usage: 57.6+ MB

In [5]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [6]:
df.head()

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,NaN,"Developer, desktop or enterprise applications;...",NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,I am actively looking for a job,I've never had a job,NaN,NaN,Financial performance or funding status of the...,"Something else changed (education, award, medi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C++;HTML/CSS;Python,C++;HTML/CSS;JavaScript;SQL,NaN,MySQL,Windows,Windows,Django,Django,NaN,NaN,Atom;PyCharm,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,Yes,Instagram,Online,Username,2017,Daily or almost daily,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",100 to 499 employees,"Designer;Developer, back-end;Developer, front-...",3,22,1,Slightly satisfied,Slightly satisfied,Not at all confident,Not sure,Not sure,"I’m not actively looking, but I am open to new...",1-2 years ago,Interview with people in peer roles,No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,THB,Thai baht,23000.0,Monthly,8820.0,40.0,There's no schedule or spec; I work on what se...,Distracting work environment;Inadequate access...,Less than once per month / Never,Home,Average,No,NaN,"No, but I think we should",Not sure,I have little or no influence,HTML/CSS,Elixir;HTML/CSS,PostgreSQL,PostgreSQL,NaN,NaN,NaN,Other(s):,NaN,NaN,Vim;Visual Studio Code,Linux-based,I do not use containers,NaN,NaN,Yes,Yes,Yes,Reddit,In real life (in person),Username,2011,A few times per week,Find answers to specific questions;Learn how t...,6-10 times per week,They were about the same,NaN,Yes,Less than once per month or monthly,Yes,"No, I've heard of them, but I am not part of a...",Neutral,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Developer, full-stack",3,16,Less than 1 year,Very satisfied,Slightly satisfied,Very confident,No,Not sure,I am not interested in new job opportunities,Less than a year ago,"Write code by hand (e.g., on a whiteboard);Int...",No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,61000.0,Yearly,61000.0,80.0,There's no schedule or spec; I work on what se...,NaN,Less than once per month / Never,Home,A little below average,No,NaN,"No, but I think we should",Developers typically have the most influence o...,I have little or no influence,C;C++;C#;Python;SQL,C;C#;JavaScript;SQL,MySQL;SQLite,MySQL;SQLite,Linux;Windows,Linux;Windows,NaN,NaN,.NET,.NET,Eclipse;Vim;Visual Studio;Visual Studio Code,Windows,I do not use containers,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",Yes,SIGH,Yes,Reddit,In real life (in person),Username,2014,Daily or almost daily,Find answers to specific questions;Pass the ti...,1-2 times per week,Stack Overflow was much faster,31-60 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"10,000 or more employees","Academic researcher;Developer, desktop or ente...",16,14,9,Very dissatisfied,Slightly dissatisfied,Somewhat confident,Yes,No,I am not interested in new job opportunities,Less than a year ago,"Write any code;Write code by hand (e.g., on a ...",No,"Industry that I'd be working in;Languages, fra...",I was preparing for a job search,UAH,Ukrainian hryvnia,NaN,NaN,NaN,55.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Inadequ...,A few days each month,Office,A little above average,"Yes, because I see value in code review",NaN,"Yes, it's part of our process",Not sure,I have little or no influence,C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA,HTML/CSS;Java;JavaScript;SQL;WebAssembly,Couchbase;MongoDB;MySQL;Oracle;PostgreSQL;SQLite,Couchbase;Firebase;MongoDB;MySQL;Oracle;Postgr...,Android;Linux;MacOS;Slack;Windows,Android;Docker;Kubernetes;Linux;Slack,Django;Express;Flask;jQuery;React.js;Spring,Flask;jQuery;React.js;Spring,Cordova;Node.js,Apache Spark;Hadoop;Node.js;React Native,IntelliJ;Notepad++;Vim,Linux-based,"Outside of work, for personal projects",Not at all,NaN,Yes,Also Yes,Yes,Facebook,In real life (in person),Username,I don't remember,Multiple times per day,Find answers to specific questions,More than 10 times per week,Stack Overflow was much faster,NaN,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","Yes, definitely",Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [7]:
schema_df = pd.read_csv('data/survey_results_schema.csv', index_col='Column')

In [8]:
schema_df

                                                             QuestionText
Column
Respondent              Randomized respondent ID number (not in order ...
MainBranch              Which of the following options best describes ...
Hobbyist                                          Do you code as a hobby?
OpenSourcer                   How often do you contribute to open source?
OpenSource              How do you feel about the quality of open sour...
Employment              Which of the following best describes your cur...
Country                         In which country do you currently reside?
Student                 Are you currently enrolled in a formal, degree...
EdLevel                 Which of the following best describes the high...
UndergradMajor          What was your main or most important field of ...
EduOther                Which of the following types of non-degree edu...
OrgSize                 Approximately how many people are employed by ...
DevType                 Which of the following describe you? Please se...
YearsCode               Including any education, how many years have y...
Age1stCode              At what age did you write your first line of c...
YearsCodePro            How many years have you coded professionally (...
CareerSat               Overall, how satisfied are you with your caree...
JobSat                  How satisfied are you with your current job? (...
MgrIdiot                How confident are you that your manager knows ...
MgrMoney                Do you believe that you need to be a manager t...
MgrWant                 Do you want to become a manager yourself in th...
JobSeek                 Which of the following best describes your cur...
LastHireDate            When was the last time that you took a job wit...
LastInt                 In your most recent successful job interview (...
FizzBuzz                Have you ever been asked to solve FizzBuzz in ...
JobFactors              Imagine that you are deciding between two job ...
ResumeUpdate            Think back to the last time you updated your r...
CurrencySymbol          Which currency do you use day-to-day? If your ...
CurrencyDesc            Which currency do you use day-to-day? If your ...
CompTotal               What is your current total compensation (salar...
CompFreq                 Is that compensation weekly, monthly, or yearly?
ConvertedComp           Salary converted to annual USD salaries using ...
WorkWeekHrs              On average, how many hours per week do you work?
WorkPlan                          How structured or planned is your work?
WorkChallenge           Of these options, what are your greatest chall...
WorkRemote                                How often do you work remotely?
WorkLoc                                   Where would you prefer to work?
ImpSyn                  For the specific work you do, and the years of...
CodeRev                          Do you review code as part of your work?
CodeRevHrs              On average, how many hours per week do you spe...
UnitTests               Does your company regularly employ unit tests ...
PurchaseHow             How does your company make decisions about pur...
PurchaseWhat            What level of influence do you, personally, ha...
LanguageWorkedWith      Which of the following programming, scripting,...
LanguageDesireNextYear  Which of the following programming, scripting,...
DatabaseWorkedWith      Which of the following database environments h...
DatabaseDesireNextYear  Which of the following database environments h...
PlatformWorkedWith      Which of the following platforms have you done...
PlatformDesireNextYear  Which of the following platforms have you done...
WebFrameWorkedWith      Which of the following web frameworks have you...
WebFrameDesireNextYear  Which of the following web frameworks have you...
MiscTechWorkedWith      Which of the following other frameworks, libra...
MiscTechDesireNextYear  Which of the following other frameworks, libra...
DevEnviron              Which development environment(s) do you use re...
OpSys                   What is the primary operating system in which ...
Containers              How do you use containers (Docker, Open Contai...
BlockchainOrg           How is your organization thinking about or imp...
BlockchainIs            Blockchain / cryptocurrency technology is prim...
BetterLife              Do you think people born today will have a bet...
ITperson                 Are you the "IT support person" for your family?
OffOn                         Have you tried turning it off and on again?
SocialMedia                   What social media site do you use the most?
Extraversion              Do you prefer online chat or IRL conversations?
ScreenName                                           What do you call it?
SOVisit1st              To the best of your memory, when did you first...
SOVisitFreq             How frequently would you say you visit Stack O...
SOVisitTo               I visit Stack Overflow to... (check all that a...
SOFindAnswer            On average, how many times a week do you find ...
SOTimeSaved             Think back to the last time you solved a codin...
SOHowMuchTime           About how much time did you save? If you're no...
SOAccount                           Do you have a Stack Overflow account?
SOPartFreq              How frequently would you say you participate i...
SOJobs                  Have you ever used or visited Stack Overflow J...
EntTeams                Have you ever used Stack Overflow for Enterpri...
SOComm                  Do you consider yourself a member of the Stack...
WelcomeChange           Compared to last year, how welcome do you feel...
SONewContent            Would you like to see any of the following on ...
Age                     What is your age (in years)? If you prefer not...
Gender                  Which of the following do you currently identi...
Trans                                     Do you identify as transgender?
Sexuality               Which of the following do you currently identi...
Ethnicity               Which of the following do you identify as? Ple...
Dependents              Do you have any dependents (e.g., children, el...
SurveyLength            How do you feel about the length of the survey...
SurveyEase              How easy or difficult was this survey to compl...

## 2. Selecting Rows and Columns

In [9]:
people = {
    'first': ['Suraj', 'Tapan', 'Leon', 'Kushal'],
    'last' : ['Wate', 'Agrawal', 'Fernandes', 'Wate'],
    'email' : ['suraj.w@email.com', 'tapan.a@email.com', 'leon.f@email.com', 'kushal.w@email.com']
}

In [10]:
people_df = pd.DataFrame(people)

In [11]:
people_df

    first       last               email
0   Suraj       Wate   suraj.w@email.com
1   Tapan    Agrawal   tapan.a@email.com
2    Leon  Fernandes    leon.f@email.com
3  Kushal       Wate  kushal.w@email.com

### Get column

In [12]:
# selecting column (which is a series)
people_df['email']

0     suraj.w@email.com
1     tapan.a@email.com
2      leon.f@email.com
3    kushal.w@email.com
Name: email, dtype: object

In [13]:
type(people_df['email'])

pandas.core.series.Series

In [14]:
# Same as above
people_df.email

0     suraj.w@email.com
1     tapan.a@email.com
2      leon.f@email.com
3    kushal.w@email.com
Name: email, dtype: object

In [15]:
people_df[['last', 'email']]

        last               email
0       Wate   suraj.w@email.com
1    Agrawal   tapan.a@email.com
2  Fernandes    leon.f@email.com
3       Wate  kushal.w@email.com

In [16]:
people_df.columns

Index(['first', 'last', 'email'], dtype='object')

### To get the rows

In [17]:
people_df.iloc[0]

first                Suraj
last                  Wate
email    suraj.w@email.com
Name: 0, dtype: object

In [18]:
people_df.iloc[[0, 1]]

   first     last              email
0  Suraj     Wate  suraj.w@email.com
1  Tapan  Agrawal  tapan.a@email.com

### Get Specific rows and columns

In [19]:
people_df.iloc[[0, 1], 2]

0    suraj.w@email.com
1    tapan.a@email.com
Name: email, dtype: object

#### Using loc

In [20]:
people_df.loc[[0, 1], 'email']

0    suraj.w@email.com
1    tapan.a@email.com
Name: email, dtype: object

In [21]:
people_df.loc[[0, 2], ['email', 'last']]

               email       last
0  suraj.w@email.com       Wate
2   leon.f@email.com  Fernandes

In [22]:
df.shape

(88883, 84)

In [23]:
df.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'WorkWeekHrs', 'WorkPlan', 'WorkChallenge',
       'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [24]:
df['Hobbyist']

Respondent
1        Yes
2         No
3        Yes
4         No
5        Yes
        ...
88377    Yes
88601     No
88802     No
88816     No
88863    Yes
Name: Hobbyist, Length: 88883, dtype: object

In [25]:
df['Hobbyist'].value_counts()

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

In [26]:
df.loc[2, 'Hobbyist']

'No'

In [27]:
df.loc[[4, 5, 8], 'Hobbyist']

Respondent
4     No
5    Yes
8    Yes
Name: Hobbyist, dtype: object

In [28]:
# First three row

df.loc[1:3, 'Hobbyist':'Employment']

,Hobbyist,OpenSourcer,OpenSource,Employment
Respondent,,,,
1,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work"
2,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work"
3,Yes,Never,The quality of OSS and closed source software ...,Employed full-time

## 3. Indexes - How to Set, Reset, and Use Indexes

In [29]:
people_df['email']

0     suraj.w@email.com
1     tapan.a@email.com
2      leon.f@email.com
3    kushal.w@email.com
Name: email, dtype: object

In [30]:
people_df.set_index('email')

                     first       last
email
suraj.w@email.com    Suraj       Wate
tapan.a@email.com    Tapan    Agrawal
leon.f@email.com      Leon  Fernandes
kushal.w@email.com  Kushal       Wate

In [31]:
people_df

    first       last               email
0   Suraj       Wate   suraj.w@email.com
1   Tapan    Agrawal   tapan.a@email.com
2    Leon  Fernandes    leon.f@email.com
3  Kushal       Wate  kushal.w@email.com

In [32]:
people_df.set_index('email', inplace=True)

In [33]:
people_df

                     first       last
email
suraj.w@email.com    Suraj       Wate
tapan.a@email.com    Tapan    Agrawal
leon.f@email.com      Leon  Fernandes
kushal.w@email.com  Kushal       Wate

In [34]:
people_df.index

Index(['suraj.w@email.com', 'tapan.a@email.com', 'leon.f@email.com',
       'kushal.w@email.com'],
      dtype='object', name='email')

In [35]:
people_df.loc['suraj.w@email.com']

first    Suraj
last      Wate
Name: suraj.w@email.com, dtype: object

### Reset the index

In [36]:
people_df.reset_index(inplace=True)

In [37]:
people_df

                email   first       last
0   suraj.w@email.com   Suraj       Wate
1   tapan.a@email.com   Tapan    Agrawal
2    leon.f@email.com    Leon  Fernandes
3  kushal.w@email.com  Kushal       Wate

------------

In [38]:
schema_df.loc['Hobbyist']

QuestionText    Do you code as a hobby?
Name: Hobbyist, dtype: object

In [39]:
schema_df.loc['MgrIdiot', 'QuestionText']

'How confident are you that your manager knows what they’re doing?'

### Sorting the dataframe by index

In [40]:
schema_df.sort_index(inplace=True)

In [41]:
schema_df.sort_index(ascending=False)

                                                             QuestionText
Column
YearsCodePro            How many years have you coded professionally (...
YearsCode               Including any education, how many years have y...
WorkWeekHrs              On average, how many hours per week do you work?
WorkRemote                                How often do you work remotely?
WorkPlan                          How structured or planned is your work?
WorkLoc                                   Where would you prefer to work?
WorkChallenge           Of these options, what are your greatest chall...
WelcomeChange           Compared to last year, how welcome do you feel...
WebFrameWorkedWith      Which of the following web frameworks have you...
WebFrameDesireNextYear  Which of the following web frameworks have you...
UnitTests               Does your company regularly employ unit tests ...
UndergradMajor          What was your main or most important field of ...
Trans                                     Do you identify as transgender?
SurveyLength            How do you feel about the length of the survey...
SurveyEase              How easy or difficult was this survey to compl...
Student                 Are you currently enrolled in a formal, degree...
SocialMedia                   What social media site do you use the most?
Sexuality               Which of the following do you currently identi...
ScreenName                                           What do you call it?
SOVisitTo               I visit Stack Overflow to... (check all that a...
SOVisitFreq             How frequently would you say you visit Stack O...
SOVisit1st              To the best of your memory, when did you first...
SOTimeSaved             Think back to the last time you solved a codin...
SOPartFreq              How frequently would you say you participate i...
SONewContent            Would you like to see any of the following on ...
SOJobs                  Have you ever used or visited Stack Overflow J...
SOHowMuchTime           About how much time did you save? If you're no...
SOFindAnswer            On average, how many times a week do you find ...
SOComm                  Do you consider yourself a member of the Stack...
SOAccount                           Do you have a Stack Overflow account?
ResumeUpdate            Think back to the last time you updated your r...
Respondent              Randomized respondent ID number (not in order ...
PurchaseWhat            What level of influence do you, personally, ha...
PurchaseHow             How does your company make decisions about pur...
PlatformWorkedWith      Which of the following platforms have you done...
PlatformDesireNextYear  Which of the following platforms have you done...
OrgSize                 Approximately how many people are employed by ...
OpenSourcer                   How often do you contribute to open source?
OpenSource              How do you feel about the quality of open sour...
OpSys                   What is the primary operating system in which ...
OffOn                         Have you tried turning it off and on again?
MiscTechWorkedWith      Which of the following other frameworks, libra...
MiscTechDesireNextYear  Which of the following other frameworks, libra...
MgrWant                 Do you want to become a manager yourself in th...
MgrMoney                Do you believe that you need to be a manager t...
MgrIdiot                How confident are you that your manager knows ...
MainBranch              Which of the following options best describes ...
LastInt                 In your most recent successful job interview (...
LastHireDate            When was the last time that you took a job wit...
LanguageWorkedWith      Which of the following programming, scripting,...
LanguageDesireNextYear  Which of the following programming, scripting,...
JobSeek                 Which of the following best describes your cur...
JobSat                  How satisfied are you with your current job? (...
JobFactors              Imagine that you are deciding between two job ...
ImpSyn                  For the specific work you do, and the years of...
ITperson                 Are you the "IT support person" for your family?
Hobbyist                                          Do you code as a hobby?
Gender                  Which of the following do you currently identi...
FizzBuzz                Have you ever been asked to solve FizzBuzz in ...
Extraversion              Do you prefer online chat or IRL conversations?
Ethnicity               Which of the following do you identify as? Ple...
EntTeams                Have you ever used Stack Overflow for Enterpri...
Employment              Which of the following best describes your cur...
EduOther                Which of the following types of non-degree edu...
EdLevel                 Which of the following best describes the high...
DevType                 Which of the following describe you? Please se...
DevEnviron              Which development environment(s) do you use re...
Dependents              Do you have any dependents (e.g., children, el...
DatabaseWorkedWith      Which of the following database environments h...
DatabaseDesireNextYear  Which of the following database environments h...
CurrencySymbol          Which currency do you use day-to-day? If your ...
CurrencyDesc            Which currency do you use day-to-day? If your ...
Country                         In which country do you currently reside?
ConvertedComp           Salary converted to annual USD salaries using ...
Containers              How do you use containers (Docker, Open Contai...
CompTotal               What is your current total compensation (salar...
CompFreq                 Is that compensation weekly, monthly, or yearly?
CodeRevHrs              On average, how many hours per week do you spe...
CodeRev                          Do you review code as part of your work?
CareerSat               Overall, how satisfied are you with your caree...
BlockchainOrg           How is your organization thinking about or imp...
BlockchainIs            Blockchain / cryptocurrency technology is prim...
BetterLife              Do you think people born today will have a bet...
Age1stCode              At what age did you write your first line of c...
Age                     What is your age (in years)? If you prefer not...

## 4. Filtering - Using conditionals to filter rows and columns

In [42]:
people_df['last'] == 'Agrawal'

0    False
1     True
2    False
3    False
Name: last, dtype: bool

In [43]:
filt = (people_df['last'] == 'Agrawal')

In [44]:
people_df[filt]

               email  first     last
1  tapan.a@email.com  Tapan  Agrawal

In [45]:
people_df[people_df['last'] == 'Agrawal']

               email  first     last
1  tapan.a@email.com  Tapan  Agrawal

In [46]:
people_df.loc[filt]

               email  first     last
1  tapan.a@email.com  Tapan  Agrawal

In [47]:
people_df.loc[filt, 'email']

1    tapan.a@email.com
Name: email, dtype: object

### AND and OR operators

In [48]:
filt = (people_df['last'] == 'Wate') & (people_df['first'] == 'Kushal')

In [49]:
people_df.loc[filt, 'email']

3    kushal.w@email.com
Name: email, dtype: object

In [50]:
# NOT operator

people_df.loc[~filt, 'email']

0    suraj.w@email.com
1    tapan.a@email.com
2     leon.f@email.com
Name: email, dtype: object

----------

In [51]:
high_salary = (df['ConvertedComp'] > 70000)

In [52]:
df.loc[high_salary, ['Country', 'LanguageWorkedWith', 'ConvertedComp']]

,Country,LanguageWorkedWith,ConvertedComp
Respondent,,,
6,Canada,Java;R;SQL,366420.0
9,New Zealand,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,95179.0
13,United States,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...,90000.0
16,United Kingdom,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;T...,455352.0
22,United States,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript;...,103000.0
...,...,...,...
88876,United States,Bash/Shell/PowerShell;C#;HTML/CSS;Java;Python;...,180000.0
88877,United States,Bash/Shell/PowerShell;C;Clojure;HTML/CSS;Java;...,2000000.0
88878,United States,HTML/CSS;JavaScript;Scala;TypeScript,130000.0
88879,Finland,Bash/Shell/PowerShell;C++;Python,82488.0
88882,Netherlands,C#;HTML/CSS;Java;JavaScript;PHP;Python,588012.0

In [53]:
countries  = ['United States', 'India', 'United Kingdon', 'Germany', 'Canada']
filt = df['Country'].isin(countries)

In [54]:
df.loc[filt, 'Country']

Respondent
4        United States
6               Canada
8                India
10               India
12              Canada
             ...
85182           Canada
85642    United States
86012            India
88282    United States
88377           Canada
Name: Country, Length: 39271, dtype: object

### Filter Strings

In [55]:
df['LanguageWorkedWith']

Respondent
1                          HTML/CSS;Java;JavaScript;Python
2                                      C++;HTML/CSS;Python
3                                                 HTML/CSS
4                                      C;C++;C#;Python;SQL
5              C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
                               ...
88377                        HTML/CSS;JavaScript;Other(s):
88601                                                  NaN
88802                                                  NaN
88816                                                  NaN
88863    Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
Name: LanguageWorkedWith, Length: 88883, dtype: object

In [56]:
filt = df['LanguageWorkedWith'].str.contains('Python', na=False)

In [57]:
df.loc[filt, 'LanguageWorkedWith']

Respondent
1                          HTML/CSS;Java;JavaScript;Python
2                                      C++;HTML/CSS;Python
4                                      C;C++;C#;Python;SQL
5              C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
8        Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
                               ...
84539    Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
85738      Bash/Shell/PowerShell;C++;Python;Ruby;Other(s):
86566      Bash/Shell/PowerShell;HTML/CSS;Python;Other(s):
87739             C;C++;HTML/CSS;JavaScript;PHP;Python;SQL
88212                           HTML/CSS;JavaScript;Python
Name: LanguageWorkedWith, Length: 36443, dtype: object

------------

## 5. Updating Rows and Columns - Modifying Data Within DataFrames

In [58]:
people_df

                email   first       last
0   suraj.w@email.com   Suraj       Wate
1   tapan.a@email.com   Tapan    Agrawal
2    leon.f@email.com    Leon  Fernandes
3  kushal.w@email.com  Kushal       Wate

In [59]:
people_df.columns

Index(['email', 'first', 'last'], dtype='object')

In [60]:
people_df.columns = ['email', 'first_name', 'last_name']

In [61]:
people_df

                email first_name  last_name
0   suraj.w@email.com      Suraj       Wate
1   tapan.a@email.com      Tapan    Agrawal
2    leon.f@email.com       Leon  Fernandes
3  kushal.w@email.com     Kushal       Wate

In [62]:
people_df.columns = [x.upper() for x in people_df.columns]
people_df

                EMAIL FIRST_NAME  LAST_NAME
0   suraj.w@email.com      Suraj       Wate
1   tapan.a@email.com      Tapan    Agrawal
2    leon.f@email.com       Leon  Fernandes
3  kushal.w@email.com     Kushal       Wate

In [63]:
people_df.columns = people_df.columns.str.replace('_', ' ')
people_df

                EMAIL FIRST NAME  LAST NAME
0   suraj.w@email.com      Suraj       Wate
1   tapan.a@email.com      Tapan    Agrawal
2    leon.f@email.com       Leon  Fernandes
3  kushal.w@email.com     Kushal       Wate

In [64]:
people_df.columns = [x.lower() for x in people_df.columns]
people_df.columns = people_df.columns.str.replace(' ', '_')
people_df

                email first_name  last_name
0   suraj.w@email.com      Suraj       Wate
1   tapan.a@email.com      Tapan    Agrawal
2    leon.f@email.com       Leon  Fernandes
3  kushal.w@email.com     Kushal       Wate

In [65]:
people_df.rename(columns={'first_name': 'first', 'last_name': 'last'}, inplace=True)
people_df

                email   first       last
0   suraj.w@email.com   Suraj       Wate
1   tapan.a@email.com   Tapan    Agrawal
2    leon.f@email.com    Leon  Fernandes
3  kushal.w@email.com  Kushal       Wate

### How to update single value

In [66]:
people_df.loc[2]

email    leon.f@email.com
first                Leon
last            Fernandes
Name: 2, dtype: object

In [67]:
people_df.loc[2] = ['thomas.a@email.com', 'Thomas', 'Anderson']
people_df

                email   first      last
0   suraj.w@email.com   Suraj      Wate
1   tapan.a@email.com   Tapan   Agrawal
2  thomas.a@email.com  Thomas  Anderson
3  kushal.w@email.com  Kushal      Wate

In [68]:
people_df.loc[2, ['last', 'email']]

last               Anderson
email    thomas.a@email.com
Name: 2, dtype: object

In [69]:
people_df.loc[2, ['last', 'email']] = ['Fernandes', 'thomas.f@email.com']
people_df

                email   first       last
0   suraj.w@email.com   Suraj       Wate
1   tapan.a@email.com   Tapan    Agrawal
2  thomas.f@email.com  Thomas  Fernandes
3  kushal.w@email.com  Kushal       Wate

In [70]:
people_df.loc[2, 'first'] = 'Leon'
people_df

                email   first       last
0   suraj.w@email.com   Suraj       Wate
1   tapan.a@email.com   Tapan    Agrawal
2  thomas.f@email.com    Leon  Fernandes
3  kushal.w@email.com  Kushal       Wate

In [71]:
people_df.at[2, 'email'] = 'leon.f@email.com'
people_df

                email   first       last
0   suraj.w@email.com   Suraj       Wate
1   tapan.a@email.com   Tapan    Agrawal
2    leon.f@email.com    Leon  Fernandes
3  kushal.w@email.com  Kushal       Wate

In [72]:
filt = (people_df['email'] == 'suraj.w@email.com')
people_df[filt]['last'] = 'Smith'

C:\Users\Suraj\AppData\Local\Temp\ipykernel_9040\3779162193.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  people_df[filt]['last'] = 'Smith'

In [73]:
filt = (people_df['email'] == 'suraj.w@email.com')
people_df.loc[filt, 'last'] = 'Smith'
people_df

                email   first       last
0   suraj.w@email.com   Suraj      Smith
1   tapan.a@email.com   Tapan    Agrawal
2    leon.f@email.com    Leon  Fernandes
3  kushal.w@email.com  Kushal       Wate

### Update multiple row of data

In [74]:
people_df['email'].str.upper()

0     SURAJ.W@EMAIL.COM
1     TAPAN.A@EMAIL.COM
2      LEON.F@EMAIL.COM
3    KUSHAL.W@EMAIL.COM
Name: email, dtype: object

In [75]:
people_df['email'] =  people_df['email'].str.lower()

There are four advanced method to update multiple row of data

1. apply
2. map
3. applymap
4. replace

#### Apply

In [76]:
people_df['email'].apply(len)

0    17
1    17
2    16
3    18
Name: email, dtype: int64

In [77]:
# Basic example to understand the concept

def update_email(email):
    return email.upper()

In [78]:
people_df['email'].apply(update_email)

0     SURAJ.W@EMAIL.COM
1     TAPAN.A@EMAIL.COM
2      LEON.F@EMAIL.COM
3    KUSHAL.W@EMAIL.COM
Name: email, dtype: object

In [79]:
people_df['email'] = people_df['email'].apply(update_email)
people_df

                email   first       last
0   SURAJ.W@EMAIL.COM   Suraj      Smith
1   TAPAN.A@EMAIL.COM   Tapan    Agrawal
2    LEON.F@EMAIL.COM    Leon  Fernandes
3  KUSHAL.W@EMAIL.COM  Kushal       Wate

In [80]:
# Same example with lambda funtion

people_df['email'] = people_df['email'].apply(lambda x: x.lower())
people_df

                email   first       last
0   suraj.w@email.com   Suraj      Smith
1   tapan.a@email.com   Tapan    Agrawal
2    leon.f@email.com    Leon  Fernandes
3  kushal.w@email.com  Kushal       Wate

In [81]:
# to check the number of the rows
people_df.apply(len)

email    4
first    4
last     4
dtype: int64

In [82]:
# to check the number of the columns
people_df.apply(len, axis='columns')

0    3
1    3
2    3
3    3
dtype: int64

In [83]:
# To check the minimum value in the series

people_df.apply(pd.Series.min)

email    kushal.w@email.com
first                Kushal
last                Agrawal
dtype: object

In [84]:
# Same example using lambda function

people_df.apply(lambda x: x.min())

email    kushal.w@email.com
first                Kushal
last                Agrawal
dtype: object

#### Applymap

In [85]:
people_df.applymap(len)

   email  first  last
0     17      5     5
1     17      5     7
2     16      4     9
3     18      6     4

In [86]:
people_df.applymap(str.lower)

                email   first       last
0   suraj.w@email.com   suraj      smith
1   tapan.a@email.com   tapan    agrawal
2    leon.f@email.com    leon  fernandes
3  kushal.w@email.com  kushal       wate

#### Map

Map only works on the series

In [87]:
people_df

                email   first       last
0   suraj.w@email.com   Suraj      Smith
1   tapan.a@email.com   Tapan    Agrawal
2    leon.f@email.com    Leon  Fernandes
3  kushal.w@email.com  Kushal       Wate

In [88]:
people_df['first'].map({'Suraj':'Agent', 'Tapan':'Thomas'})

0     Agent
1    Thomas
2       NaN
3       NaN
Name: first, dtype: object

#### Replace

In [89]:
people_df['first'].replace({'Suraj':'Agent', 'Tapan':'Thomas'})

0     Agent
1    Thomas
2      Leon
3    Kushal
Name: first, dtype: object

-------------------

In [90]:
# Rename the columns title

df.rename(columns={'ConvertedComp':'SalaryUSD'}, inplace=True)
df.head(2)

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,SalaryUSD,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,NaN,"Developer, desktop or enterprise applications;...",NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,I am actively looking for a job,I've never had a job,NaN,NaN,Financial performance or funding status of the...,"Something else changed (education, award, medi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C++;HTML/CSS;Python,C++;HTML/CSS;JavaScript;SQL,NaN,MySQL,Windows,Windows,Django,Django,NaN,NaN,Atom;PyCharm,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,Yes,Instagram,Online,Username,2017,Daily or almost daily,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult

In [91]:
df['SalaryUSD']

Respondent
1            NaN
2            NaN
3         8820.0
4        61000.0
5            NaN
          ...
88377        NaN
88601        NaN
88802        NaN
88816        NaN
88863        NaN
Name: SalaryUSD, Length: 88883, dtype: float64

In [92]:
df['Hobbyist']

Respondent
1        Yes
2         No
3        Yes
4         No
5        Yes
        ...
88377    Yes
88601     No
88802     No
88816     No
88863    Yes
Name: Hobbyist, Length: 88883, dtype: object

In [93]:
df['Hobbyist'].map({'Yes':True, 'No':False})

Respondent
1         True
2        False
3         True
4        False
5         True
         ...
88377     True
88601    False
88802    False
88816    False
88863     True
Name: Hobbyist, Length: 88883, dtype: bool

In [94]:
df['Hobbyist'] = df['Hobbyist'].map({'Yes':True, 'No':False})

## 6. Add/Remove Rows and Columns from DataFrames

### Adding new column

In [95]:


people_df['full_name'] = people_df['first'] + ' ' + people_df['last']

In [96]:
people_df

                email   first       last       full_name
0   suraj.w@email.com   Suraj      Smith     Suraj Smith
1   tapan.a@email.com   Tapan    Agrawal   Tapan Agrawal
2    leon.f@email.com    Leon  Fernandes  Leon Fernandes
3  kushal.w@email.com  Kushal       Wate     Kushal Wate

In [97]:
# Removing the columns

people_df.drop(columns=['first', 'last'], inplace=True)

In [98]:
people_df

                email       full_name
0   suraj.w@email.com     Suraj Smith
1   tapan.a@email.com   Tapan Agrawal
2    leon.f@email.com  Leon Fernandes
3  kushal.w@email.com     Kushal Wate

In [99]:
# Splitting the column

people_df['full_name'].str.split(' ', expand = True)

        0          1
0   Suraj      Smith
1   Tapan    Agrawal
2    Leon  Fernandes
3  Kushal       Wate

In [100]:
people_df[['first', 'last']] = people_df['full_name'].str.split(' ', expand = True)

In [101]:
people_df

                email       full_name   first       last
0   suraj.w@email.com     Suraj Smith   Suraj      Smith
1   tapan.a@email.com   Tapan Agrawal   Tapan    Agrawal
2    leon.f@email.com  Leon Fernandes    Leon  Fernandes
3  kushal.w@email.com     Kushal Wate  Kushal       Wate

### Adding row

In [102]:
people_df.append({'first':'Tony'}, ignore_index=True)

C:\Users\Suraj\AppData\Local\Temp\ipykernel_9040\2735031197.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  people_df.append({'first':'Tony'}, ignore_index=True)

                email       full_name   first       last
0   suraj.w@email.com     Suraj Smith   Suraj      Smith
1   tapan.a@email.com   Tapan Agrawal   Tapan    Agrawal
2    leon.f@email.com  Leon Fernandes    Leon  Fernandes
3  kushal.w@email.com     Kushal Wate  Kushal       Wate
4                 NaN             NaN    Tony        NaN

In [103]:
pd.concat([people_df, pd.DataFrame.from_records([{'first':'Tony'}])])

                email       full_name   first       last
0   suraj.w@email.com     Suraj Smith   Suraj      Smith
1   tapan.a@email.com   Tapan Agrawal   Tapan    Agrawal
2    leon.f@email.com  Leon Fernandes    Leon  Fernandes
3  kushal.w@email.com     Kushal Wate  Kushal       Wate
0                 NaN             NaN    Tony        NaN

In [104]:
people2 = {
    'first': ['Tony', 'Steve'],
    'last': ['Stark', 'Rogers'],
    'email': ['IronMan@avenge.com', 'Cap@avenge.com']
}
people_df2 = pd.DataFrame(people2)

In [105]:
people_df2

   first    last               email
0   Tony   Stark  IronMan@avenge.com
1  Steve  Rogers      Cap@avenge.com

In [106]:
pd.concat([people_df, people_df2])

                email       full_name   first       last
0   suraj.w@email.com     Suraj Smith   Suraj      Smith
1   tapan.a@email.com   Tapan Agrawal   Tapan    Agrawal
2    leon.f@email.com  Leon Fernandes    Leon  Fernandes
3  kushal.w@email.com     Kushal Wate  Kushal       Wate
0  IronMan@avenge.com             NaN    Tony      Stark
1      Cap@avenge.com             NaN   Steve     Rogers

In [107]:
people_df

                email       full_name   first       last
0   suraj.w@email.com     Suraj Smith   Suraj      Smith
1   tapan.a@email.com   Tapan Agrawal   Tapan    Agrawal
2    leon.f@email.com  Leon Fernandes    Leon  Fernandes
3  kushal.w@email.com     Kushal Wate  Kushal       Wate

Use ignore_index=True to ignore the existing index and reset the index.

In [108]:
people_df = pd.concat([people_df, people_df2], ignore_index=True)

In [109]:
people_df

                email       full_name   first       last
0   suraj.w@email.com     Suraj Smith   Suraj      Smith
1   tapan.a@email.com   Tapan Agrawal   Tapan    Agrawal
2    leon.f@email.com  Leon Fernandes    Leon  Fernandes
3  kushal.w@email.com     Kushal Wate  Kushal       Wate
4  IronMan@avenge.com             NaN    Tony      Stark
5      Cap@avenge.com             NaN   Steve     Rogers

### Remove rows

In [110]:
people_df.drop(index=1)

                email       full_name   first       last
0   suraj.w@email.com     Suraj Smith   Suraj      Smith
2    leon.f@email.com  Leon Fernandes    Leon  Fernandes
3  kushal.w@email.com     Kushal Wate  Kushal       Wate
4  IronMan@avenge.com             NaN    Tony      Stark
5      Cap@avenge.com             NaN   Steve     Rogers

In [111]:
people_df.drop(index=people_df[people_df['last']=='Rogers'].index)

                email       full_name   first       last
0   suraj.w@email.com     Suraj Smith   Suraj      Smith
1   tapan.a@email.com   Tapan Agrawal   Tapan    Agrawal
2    leon.f@email.com  Leon Fernandes    Leon  Fernandes
3  kushal.w@email.com     Kushal Wate  Kushal       Wate
4  IronMan@avenge.com             NaN    Tony      Stark

It's always better to break the code for better readability and understanding. So the above code can be breaked into two line.

In [112]:
filt = people_df['last']=='Rogers'
people_df.drop(index=people_df[filt].index)

                email       full_name   first       last
0   suraj.w@email.com     Suraj Smith   Suraj      Smith
1   tapan.a@email.com   Tapan Agrawal   Tapan    Agrawal
2    leon.f@email.com  Leon Fernandes    Leon  Fernandes
3  kushal.w@email.com     Kushal Wate  Kushal       Wate
4  IronMan@avenge.com             NaN    Tony      Stark

---------------

## 7. Sorting Data

In [113]:
people_df.sort_values(by='last')

                email       full_name   first       last
1   tapan.a@email.com   Tapan Agrawal   Tapan    Agrawal
2    leon.f@email.com  Leon Fernandes    Leon  Fernandes
5      Cap@avenge.com             NaN   Steve     Rogers
0   suraj.w@email.com     Suraj Smith   Suraj      Smith
4  IronMan@avenge.com             NaN    Tony      Stark
3  kushal.w@email.com     Kushal Wate  Kushal       Wate

In [114]:
people_df.sort_values(by='last', ascending=False)

                email       full_name   first       last
3  kushal.w@email.com     Kushal Wate  Kushal       Wate
4  IronMan@avenge.com             NaN    Tony      Stark
0   suraj.w@email.com     Suraj Smith   Suraj      Smith
5      Cap@avenge.com             NaN   Steve     Rogers
2    leon.f@email.com  Leon Fernandes    Leon  Fernandes
1   tapan.a@email.com   Tapan Agrawal   Tapan    Agrawal

In [115]:
people_df.loc[0, 'last'] = 'Wate'
people_df

                email       full_name   first       last
0   suraj.w@email.com     Suraj Smith   Suraj       Wate
1   tapan.a@email.com   Tapan Agrawal   Tapan    Agrawal
2    leon.f@email.com  Leon Fernandes    Leon  Fernandes
3  kushal.w@email.com     Kushal Wate  Kushal       Wate
4  IronMan@avenge.com             NaN    Tony      Stark
5      Cap@avenge.com             NaN   Steve     Rogers

In [116]:
people_df.sort_values(by=['last', 'first'], ascending=False)

                email       full_name   first       last
0   suraj.w@email.com     Suraj Smith   Suraj       Wate
3  kushal.w@email.com     Kushal Wate  Kushal       Wate
4  IronMan@avenge.com             NaN    Tony      Stark
5      Cap@avenge.com             NaN   Steve     Rogers
2    leon.f@email.com  Leon Fernandes    Leon  Fernandes
1   tapan.a@email.com   Tapan Agrawal   Tapan    Agrawal

In [117]:
people_df.sort_values(by=['last', 'first'], ascending=[False, True])

                email       full_name   first       last
3  kushal.w@email.com     Kushal Wate  Kushal       Wate
0   suraj.w@email.com     Suraj Smith   Suraj       Wate
4  IronMan@avenge.com             NaN    Tony      Stark
5      Cap@avenge.com             NaN   Steve     Rogers
2    leon.f@email.com  Leon Fernandes    Leon  Fernandes
1   tapan.a@email.com   Tapan Agrawal   Tapan    Agrawal

In [118]:
people_df.sort_values(by=['last', 'first'], ascending=[False, True], inplace=True)

In [119]:
people_df

                email       full_name   first       last
3  kushal.w@email.com     Kushal Wate  Kushal       Wate
0   suraj.w@email.com     Suraj Smith   Suraj       Wate
4  IronMan@avenge.com             NaN    Tony      Stark
5      Cap@avenge.com             NaN   Steve     Rogers
2    leon.f@email.com  Leon Fernandes    Leon  Fernandes
1   tapan.a@email.com   Tapan Agrawal   Tapan    Agrawal

To reset the index value use sort_index()

In [120]:
people_df.sort_index()

                email       full_name   first       last
0   suraj.w@email.com     Suraj Smith   Suraj       Wate
1   tapan.a@email.com   Tapan Agrawal   Tapan    Agrawal
2    leon.f@email.com  Leon Fernandes    Leon  Fernandes
3  kushal.w@email.com     Kushal Wate  Kushal       Wate
4  IronMan@avenge.com             NaN    Tony      Stark
5      Cap@avenge.com             NaN   Steve     Rogers

### Sort single column

If you want to single columns, then single series can also be sorted.

In [121]:
people_df['last'].sort_values()

1      Agrawal
2    Fernandes
5       Rogers
4        Stark
3         Wate
0         Wate
Name: last, dtype: object

--------------

In [122]:
df.sort_values(by='Country', inplace=True)
df['Country'].head(50)

Respondent
39258    Afghanistan
63129    Afghanistan
85715    Afghanistan
50767    Afghanistan
2782     Afghanistan
63019    Afghanistan
6417     Afghanistan
40000    Afghanistan
88731    Afghanistan
48436    Afghanistan
10746    Afghanistan
62525    Afghanistan
49702    Afghanistan
33178    Afghanistan
60946    Afghanistan
86362    Afghanistan
88582    Afghanistan
28638    Afghanistan
722      Afghanistan
26340    Afghanistan
86932    Afghanistan
85825    Afghanistan
7085     Afghanistan
7353     Afghanistan
87091    Afghanistan
58760    Afghanistan
74386    Afghanistan
29045    Afghanistan
51859    Afghanistan
45854    Afghanistan
47110    Afghanistan
44403    Afghanistan
22450    Afghanistan
8149     Afghanistan
80926    Afghanistan
59560    Afghanistan
60569    Afghanistan
37802    Afghanistan
29736    Afghanistan
43106    Afghanistan
12310    Afghanistan
58450    Afghanistan
62168    Afghanistan
50499    Afghanistan
78817        Albania
57419        Albania
49757        Albania
41608        Albania
33385        Albania
6716         Albania
Name: Country, dtype: object

In [123]:
df[['Country', 'SalaryUSD']].head(50)

                Country  SalaryUSD
Respondent
39258       Afghanistan    19152.0
63129       Afghanistan  1000000.0
85715       Afghanistan        NaN
50767       Afghanistan        NaN
2782        Afghanistan        NaN
63019       Afghanistan        NaN
6417        Afghanistan        NaN
40000       Afghanistan        NaN
88731       Afghanistan        NaN
48436       Afghanistan     4464.0
10746       Afghanistan     3996.0
62525       Afghanistan        NaN
49702       Afghanistan        NaN
33178       Afghanistan        NaN
60946       Afghanistan        NaN
86362       Afghanistan        NaN
88582       Afghanistan        NaN
28638       Afghanistan        0.0
722         Afghanistan        0.0
26340       Afghanistan        NaN
86932       Afghanistan        NaN
85825       Afghanistan        NaN
7085        Afghanistan    14364.0
7353        Afghanistan        NaN
87091       Afghanistan        NaN
58760       Afghanistan        NaN
74386       Afghanistan        NaN
29045       Afghanistan        NaN
51859       Afghanistan        NaN
45854       Afghanistan        NaN
47110       Afghanistan        NaN
44403       Afghanistan        NaN
22450       Afghanistan     7980.0
8149        Afghanistan     1596.0
80926       Afghanistan        NaN
59560       Afghanistan        NaN
60569       Afghanistan        NaN
37802       Afghanistan        NaN
29736       Afghanistan     1116.0
43106       Afghanistan        NaN
12310       Afghanistan        NaN
58450       Afghanistan    17556.0
62168       Afghanistan        NaN
50499       Afghanistan   153216.0
78817           Albania     4968.0
57419           Albania        NaN
49757           Albania        NaN
41608           Albania        NaN
33385           Albania        NaN
6716            Albania    60000.0

In [124]:
df.sort_values(by=['Country', 'SalaryUSD'], ascending=[True, False], inplace=True)

In [125]:
df[['Country', 'SalaryUSD']].head(50)

                Country  SalaryUSD
Respondent
63129       Afghanistan  1000000.0
50499       Afghanistan   153216.0
39258       Afghanistan    19152.0
58450       Afghanistan    17556.0
7085        Afghanistan    14364.0
22450       Afghanistan     7980.0
48436       Afghanistan     4464.0
10746       Afghanistan     3996.0
8149        Afghanistan     1596.0
29736       Afghanistan     1116.0
28638       Afghanistan        0.0
722         Afghanistan        0.0
85715       Afghanistan        NaN
50767       Afghanistan        NaN
2782        Afghanistan        NaN
63019       Afghanistan        NaN
6417        Afghanistan        NaN
40000       Afghanistan        NaN
88731       Afghanistan        NaN
62525       Afghanistan        NaN
49702       Afghanistan        NaN
33178       Afghanistan        NaN
60946       Afghanistan        NaN
86362       Afghanistan        NaN
88582       Afghanistan        NaN
26340       Afghanistan        NaN
86932       Afghanistan        NaN
85825       Afghanistan        NaN
7353        Afghanistan        NaN
87091       Afghanistan        NaN
58760       Afghanistan        NaN
74386       Afghanistan        NaN
29045       Afghanistan        NaN
51859       Afghanistan        NaN
45854       Afghanistan        NaN
47110       Afghanistan        NaN
44403       Afghanistan        NaN
80926       Afghanistan        NaN
59560       Afghanistan        NaN
60569       Afghanistan        NaN
37802       Afghanistan        NaN
43106       Afghanistan        NaN
12310       Afghanistan        NaN
62168       Afghanistan        NaN
38308           Albania   187668.0
3787            Albania   114550.0
9270            Albania    74474.0
6716            Albania    60000.0
10303           Albania    57300.0
66280           Albania    41244.0

### Get highest and lowest values

In [126]:
df['SalaryUSD'].nlargest(10)

Respondent
25983    2000000.0
87896    2000000.0
22013    2000000.0
28243    2000000.0
72732    2000000.0
78151    2000000.0
80200    2000000.0
52132    2000000.0
75561    2000000.0
32250    2000000.0
Name: SalaryUSD, dtype: float64

In [127]:
df.nlargest(10, 'SalaryUSD')

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,SalaryUSD,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
25983,I am a developer by profession,True,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Canada,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Received on-the-job training in software devel...,"10,000 or more employees","Developer, full-stack",8,16,2,Very satisfied,Very satisfied,Somewhat confident,No,No,"I’m not actively looking, but I am open to new...",3-4 years ago,Solve a brain-teaser style puzzle;Interview wi...,No,Remote work options;Opportunities for professi...,"My job status changed (promotion, new job, etc.)",USD,United States dollar,65500.0,Weekly,2000000.0,45.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Meeting...,A few days each month,Office,Average,"Yes, because I see value in code review",2.0,"Yes, it's part of our process",Developers and management have nearly equal in...,I have little or no influence,Bash/Shell/PowerShell;C++;C#;HTML/CSS;JavaScri...,Bash/Shell/PowerShell;C#;F#;Python;SQL;TypeScript,Microsoft SQL Server;MySQL,Microsoft SQL Server;MySQL,AWS;Docker;Heroku;Linux;MacOS;Raspberry Pi;Win...,AWS;Docker;Linux;MacOS;Windows,Angular/Angular.js,Angular/Angular.js;Flask;React.js,.NET;.NET Core;Node.js,.NET Core;Node.js,Notepad++;Sublime Text;Vim;Visual Studio;Visua...,Windows,Development;Production,NaN,"Useful for decentralized currency (i.e., Bitcoin)",No,Yes,Yes,Reddit,In real life (in person),Username,2013,Daily or almost daily,Find answers to specific questions;Learn how t...,1-2 times per week,Stack Overflow was much faster,11-30 minutes,Yes,Less than once per month or monthly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,NaN,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
87896,I am a developer by profession,True,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Germany,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,2-9 employees,"Developer, full-stack",9,17,8,Very satisfied,Very satisfied,Somewhat confident,No,I am already a manager,I am not interested in new job opportunities,More than 4 years ago,Write any code;Interview with people in senior...,No,Office environment or company culture;Diversit...,"Something else changed (education, award, medi...",USD,United States dollar,55000.0,Weekly,2000000.0,40.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Meeting...,All or almost all the time (I'm full-time remote),Home,A little above average,"Yes, because I see value in code review",3.0,"No, but I think we should",Developers and management have nearly equal in...,I have a great deal of influence,HTML/CSS;JavaScript;PHP;SQL,HTML/CSS;JavaScript;PHP;Ruby;SQL;TypeScript,MariaDB;MySQL;PostgreSQL,MariaDB;MySQL;PostgreSQL,WordPress,NaN,jQuery;Laravel;Vue.js,Express;Laravel;Ruby on Rails;Vue.js,NaN,Node.js,Sublime Text;Vim;Visual Studio Code,Linux-based,I do not use containers,Not at all,Useful for immutable record keeping outside of...,No,Yes,Yes,Twitter,Online,Handle,2011,Daily or almost daily,Find answers to specific questions,3-5 times per week,Stack Overflow was much faster,0-10 minutes,Yes,Less than once per month or monthly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,32.0,Man,No,Gay or Lesbian,White or of European descent,No,Appropriate in length,Neither easy nor difficult
22013,I am a developer by profession,True,Never,The quality of OSS and closed source software ...,Employed full-time,India,No,"Professional degree (JD, MD, etc.)","A natural science (ex. biology, chemistry, phy...",Taken an online course in programming or softw...,2-9 employees,Academic researcher;Data scientist or machine ...,3,26,3,Very satisfied,Very satisfied,NaN,NaN,NaN,I am not interested in new job opportunities,3-4 years ago,"Write code by hand (e.g., on a whiteboard);Com...",No,Financial performance or funding status of the...,"Something else changed (education, award, medi...",USD,United States dollar,1500000.0,Weekly,2000000.0,50.0,There's no schedule or spec; I work on what se...,Inadequate access to necessary tools;Meetings;...,All or almost all the time (I'm full-time remote),Home,A little below average,"Yes, because I see value in code review",10.0,"Yes, it's part of our process",Developers typically have the most influence o...,I have a great deal of influence,Assembly;Bash/Shell/PowerShell;C;C++;Java;Java...,Python;Swift,Cassandra;Microsoft SQL Server;Oracle,Cassandra,Android;Arduino;Google Cloud Platform;IBM Clou...,IBM Cloud or Watson;Windows,jQuery,NaN,TensorFlow,TensorFlow,Visual Studio;Visual Studio Code,Windows,Development,Implementing our own cryptocurrency,Useful across many domains and could change ma...,Yes,Yes,No,YouTube,Online,Screen Name,NaN,A few times per week,Find answers to specific questions,1-2 times per week,Stack Overflow was much faster,60+ minutes,Yes,I have never participated in Q&A on Stack Over...,Yes,Yes,"Yes, definitely",A lot more welcome now than last year,Tech articles written by other developers;Indu...,NaN,Man,No,Straight / Heterosexual,NaN,Yes,Too long,Easy
28243,I am a developer by profession,True,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,2-9 employees,"Developer, back-end;Developer, full-stack;Deve...",25,9,14,Neither satisfied nor dissatisfied,Neither satisfied nor dissatisfied,NaN,NaN,NaN,"I’m not actively looking, but I am open to new...",1-2 years ago,Interview with people in peer roles;Interview ...,Yes,Financial performance or funding status of the...,I heard about a job opportunity (from a recrui...,USD,United States dollar,2000000.0,Yearly,2000000.0,20.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Not eno...,All or almost all the time (I'm full-time remote),Office,Far above average,"Yes, because I see value in code review",NaN,NaN,NaN,NaN,C++;C#;Java;JavaScript;Objective-C;Python,C;C++;C#,PostgreSQL;SQLite,SQLite,Android;AWS;iOS;MacOS;Windows,Android;Linux,NaN,NaN,Node.js;Pandas;Unity 3D,Unity 3D;Unreal Engine,Android Studio;Coda;PyCharm;Visual Studio;Visu...,MacOS,I do not use containers,NaN,An irresponsible use of resources,No,Yes,No,I don't use social media,In real life (in person),Username,2008,Daily or almost daily,Find answers to specific questions,More than 10 times per week,Stack Overflow was much faster,60+ minutes,Yes,Multiple times per day,Yes,"No, and I don't know what those are","Yes, definitely",A lot less welcome now than last year,Tech meetups or events in your area,NaN,NaN,NaN,Straight / Heterosexual,NaN,Yes,Too short,Easy
72732,"I am not primarily a developer, but I write co...",False,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...",NaN,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Contributed to open source software,NaN,NaN,4,20,5,Slightly satisfied,Slightly satisfied,NaN,NaN,NaN,I am actively looking for a job,More than 4 years ago,Write any code,No,Remote work options;Opportunities for professi...,I was preparing for a job search,USD,United States dollar,80000.0,Weekly,2000000.0,40.0,There is a schedule and/or spec (made by me or...,Lack of support from management;Meetings;Time ...,Less than once per month / Never,Office,A little above average,"Yes, because I see value in code review",10.0,"Yes, it's part of our process",Not sure,I have little or no influence,Java;Python;SQL,NaN,MongoDB;Microsoft SQL Server;MySQL;Oracle;Post...,MySQL,Android;Windows,AWS;Docker,NaN,Angular/Angular.js;React.js,NaN,NaN,Eclipse;Notepad++;PyCharm,Windows,Testing,NaN,NaN,Yes,Yes,No,WhatsApp,Neither,NaN,2017,A few times per month or weekly,Get a sense of belonging to the developer comm...,1-2 times per week,Stack Overflow was slightly faster,11-30 minutes,Yes,A few times per month or weekly,Yes,"No, and I don't know what those are",Not sure,A lot less welcome now than last year,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,Yes,Too long,Easy
78151,I am a developer by profession,True,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Mexico,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Developer, full-stack",15,18,10,Very satisfied,Very satisfied,Somewhat confident,No,Yes,I am not interested in new job opportunities,Less than a year ago,"Write code by hand (e.g., on a whiteboard);Int...",Yes,"Languages, frameworks, and other technologies ...","My job status changed (promotion, new job, etc.)",USD,United States dollar,95000.0,Weekly,2000000.0,30.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Distrac...,Less than once per month / Never,Office,A little above average,No,NaN,"No, but I think we should","The CTO, CIO, or other management purchase new...",I have little or no influence,C#;HTML/CSS;JavaScript;SQL;TypeScript,C#;TypeScript;WebAssembly,Microsoft SQL Server,Microsoft SQL Server,Windows,Android;Arduino;Raspberry Pi,Angular/Angular.js;ASP.NET;jQuery;Vue.js,Angular/Angular.js;Vue.js,.NET,.NET Core;Xamarin,Visual Studio,Windows,I do not use containers,Non-currency applications of blockchain,Useful for immutable record keeping outside of...,Yes,Yes,Yes,Reddit,In real life (in person),Username,2010,Multiple times per day,Learn how to do things I didn’t necessarily lo...,1-2 times per week,Stack Overflow was much faster,60+ minutes,Yes,A few times per month or weekly,Yes,"No, I've heard of them, but I am not part of a...",Neutral,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,32.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,No,Appropriate in length,Easy
80200,I am a developer by profession,True,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Netherlands,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Received on-the-job training in software devel...,"1,000 to 4,999 employees","Developer, front-end;Developer, mobile",8,17,4,Very satisfied,Very satisfied,Somewhat confident,Yes,Yes,I am not interested in new job opportunities,More than 4 years ago,Complete a take-home project;Interview with pe...,No,Office environment or company culture;Diversit...,"My job status changed (promotion, new job, etc.)",USD,United States dollar,120000.0,Weekly,2000000.0,45.0,There is a schedule and/or spec (made by me or...,Distracting work environment,A few days each month,Office,Average,"Yes, because I see value in code review",15.0,"Yes, it's not part of our process but the deve...",Not sure,I have little or no influence,Objective-C;Swift,Swift,NaN,NaN,Arduino;iOS;MacOS,Arduino;iOS;MacOS;Slack,NaN,NaN,NaN,NaN,Sublime Text;Vim;Xcode,MacOS,I do not use containers,Not at all,Useful for immutable record keeping outside of...,Yes,SIGH,Yes,Instagram,In real life (in person),Handle,2011,Multiple times per day,Find answers to specific questions,1-2 times per week,Stack Overflow was slightly faster,NaN,No,NaN,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are",Neutral,NaN,Tech articles written by other developers,25.0,Woman,No,Bisexual,White or of European descent,No,Appropriate in length,Easy
52132,I am a developer by profession,True,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Peru,No,Some college/university study without earning ...,I never declared a major,Completed an industry certification program (e...,100 to 499 employees,"Database administrator;Developer, back-end;Dev...",26,15,24,Slightly satisfied,Slightly dissatisfied,Not at all confident,No,I am already a manager,I am not interested in new job opportunities,3-4 years ago,Write any code;Interview with people in peer r...,No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,75000.0,Weekly,2000000.0,55.0,There is a schedule and/or spec (made by me or...,Distracting work environment;Meetings,All or almost all the time (I'm full-time remote),Home,Far above average,"Yes, because I see value in code review",6.0,"Yes, it's not part of our process but the deve...",Developers typically have the most influence o...,I have a great deal of influence,C++;HTML/CSS;JavaScript;Python;SQL;TypeScript,C++;HTML/CSS;JavaScript;Rust;SQL;TypeScript;We...,Firebase;PostgreSQL,Firebase;PostgreSQL,Android;AWS;Docker;Linux;Microsoft Azure;Slack...,Android;Arduino;Kubernetes;Linux;Raspberry Pi,Express,Express,Ansible;Cordova;Node.js,Ansible;Cordova;Node.js,Vim;Visual Studio Code,Linux-based,Development;Testing;Production,Not at all,A passing fad,No,SIGH,What?,WhatsApp,Neither,Username,2008,A few times per week,Find answers to specific questions,1-2 times per week,Stack Overflow was much faster,11-30 minutes,Yes,Less than once per month or monthly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,48.0,Man,NaN,NaN,Black or of African descent;East Asian;Hispani...,Yes,Appropriate in length,Easy
75561,I am a developer by profession,True,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Singapore,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A humanities discipline (ex. literature, histo...",Taken an online course in programming or softw...,"10,000 or more employees","Developer, back-end;Developer, front-end;Devel...",19,10,16,Very satisfied,Very satisfied,Very confident,No,Not sure,I am not interested in new job opportunities,1-2 years ago,Complete a take-home project;Interview with pe...,No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,223000.0,Monthly,2000000.0,38.0,There's no schedule or spec; I work on what se...,"Meetings;Non-work commitments (parenting, scho...","More than half, but not all, the time",Home,Far above average,No,NaN,"Yes, it's part of our process",Not sure,I have little or no influence,Bash/Shell/PowerShell;HTML/CSS;JavaScript;Pyth...,Bash/Shell/PowerShell;F#;HTML/CSS;JavaScript;P...,DynamoDB;Elasticsearch;PostgreSQL,DynamoDB;Elasticsearch;PostgreSQL,AWS;Linux;MacOS,AWS;Linux;MacOS,React.js,React.js,Node.js,Node.js;React Native,Vim;Visual Studio Code,MacOS,Development,Non-currency applications of blockchain,NaN,No,Yes,Yes,Twitter,In real life (in person),Username,2008,Daily or almost daily,Find answers to specific questions;Contribute ...,3-5 times per week,The other resource was much faster,11-30 minutes,Yes,A few times per week,Yes,"No, I've heard of them, but I am not part of a...","Yes, definitely",Just as welcome now as I felt last year,Tech meetups or events in your area,37.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
32250,I am a developer by profession,True,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,Switzerland,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken a part-time in-person course in programm...,2-9 employees,Academic researcher;Data scientist or machine ...,16,14,9,Slightly satisfied,Very satisfied,NaN,NaN,NaN,"I’m not actively looking, but I am open to new...",1-2 years ago,"Write any code;Write code by hand (e.g., on a ...",Yes,Office environment or company culture;Opportun...,"Something else changed (education, award, medi...",USD,United States dollar,200000.0,Monthly,2000000.0,50.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Non-wor...,All or almost all the time (I'm full-time remote),Home,Far above average,"Yes, because I see value in code review",20.0,"Yes, it's part of our process",Developers typically have the most influence o...,I have a great deal of influence,C#;Go;HTML/CSS;JavaScript;Python;SQL;TypeScript,C#;HTML/CSS;JavaScript,DynamoDB;Elasticsearch;Redis,DynamoDB;Elasticsearch,Android;AWS;Docker;Google Cloud Platform;IBM C...,AWS;Linux,ASP.NET;Express;React.js;Vue.js,Vue.js,.NET Core;Node.js;TensorFlow,Node.js,Visual Studio Code,Linux-based,Development;Testing;Production;Outside of work...,NaN,Useful across many domains and could change ma...,Yes,Also Yes,Yes,Twitter,Online,NaN,2008,A few times per week,Find answers to specific questions;Learn how t...,Less than once per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per week,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","Yes, somewhat",Just as welcome now as I felt last year,Industry news about technologies you're intere...,30.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy

In [128]:
df['SalaryUSD'].nsmallest(10)

Respondent
28638    0.0
722      0.0
13825    0.0
40913    0.0
30630    0.0
69049    0.0
19340    0.0
16214    0.0
29355    0.0
1685     0.0
Name: SalaryUSD, dtype: float64

---------------

## 8. Grouping and Aggregating - Analyzing and Exploring Your Data

### Basic Aggregation

In [129]:
df['SalaryUSD'].head()

Respondent
63129    1000000.0
50499     153216.0
39258      19152.0
58450      17556.0
7085       14364.0
Name: SalaryUSD, dtype: float64

In [130]:
df['SalaryUSD'].median()

57287.0

In [131]:
df.median()

C:\Users\Suraj\AppData\Local\Temp\ipykernel_9040\530051474.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

Hobbyist           1.0
CompTotal      62000.0
SalaryUSD      57287.0
WorkWeekHrs       40.0
CodeRevHrs         4.0
Age               29.0
dtype: float64

To get a broad overview of different stats of the dataframe

In [132]:
df.describe()

          CompTotal     SalaryUSD   WorkWeekHrs    CodeRevHrs           Age
count  5.594500e+04  5.582300e+04  64503.000000  49790.000000  79210.000000
mean   5.519014e+11  1.271107e+05     42.127197      5.084308     30.336699
std    7.331926e+13  2.841523e+05     37.287610      5.513931      9.178390
min    0.000000e+00  0.000000e+00      1.000000      0.000000      1.000000
25%    2.000000e+04  2.577750e+04     40.000000      2.000000     24.000000
50%    6.200000e+04  5.728700e+04     40.000000      4.000000     29.000000
75%    1.200000e+05  1.000000e+05     44.750000      6.000000     35.000000
max    1.000000e+16  2.000000e+06   4850.000000     99.000000     99.000000

In [133]:
df['SalaryUSD'].count()

55823

In [134]:
df['Hobbyist']

Respondent
63129     True
50499     True
39258     True
58450     True
7085      True
         ...
88062    False
88076    False
88601    False
88802    False
88816    False
Name: Hobbyist, Length: 88883, dtype: bool

### Count the Values of the column

In [135]:
df['Hobbyist'].value_counts()

True     71257
False    17626
Name: Hobbyist, dtype: int64

In [136]:
schema_df.loc['SocialMedia']

QuestionText    What social media site do you use the most?
Name: SocialMedia, dtype: object

In [137]:
df['SocialMedia'].value_counts()

Reddit                      14374
YouTube                     13830
WhatsApp                    13347
Facebook                    13178
Twitter                     11398
Instagram                    6261
I don't use social media     5554
LinkedIn                     4501
WeChat 微信                     667
Snapchat                      628
VK ВКонта́кте                 603
Weibo 新浪微博                     56
Youku Tudou 优酷                 21
Hello                          19
Name: SocialMedia, dtype: int64

Getting the values in percentage

In [138]:
df['SocialMedia'].value_counts(normalize=True)

Reddit                      0.170233
YouTube                     0.163791
WhatsApp                    0.158071
Facebook                    0.156069
Twitter                     0.134988
Instagram                   0.074150
I don't use social media    0.065777
LinkedIn                    0.053306
WeChat 微信                   0.007899
Snapchat                    0.007437
VK ВКонта́кте               0.007141
Weibo 新浪微博                  0.000663
Youku Tudou 优酷              0.000249
Hello                       0.000225
Name: SocialMedia, dtype: float64

### Grouping of the data

A groupby operation involves some combination of splitting the object, applying a function, and combining the results. This can be used to group large amounts of data and compute operations on these groups.

In [139]:
df['Country'].value_counts()

United States                       20949
India                                9061
Germany                              5866
United Kingdom                       5737
Canada                               3395
                                    ...
North Korea                             1
Niger                                   1
Saint Vincent and the Grenadines        1
Chad                                    1
Brunei Darussalam                       1
Name: Country, Length: 179, dtype: int64

In [140]:
df.groupby(['Country'])

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000017ECA58B6A0>

This object contains bunch of groups.

In [141]:
country_grp = df.groupby(['Country'])

In [142]:
country_grp.get_group('United States')

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,SalaryUSD,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2940,I am a developer by profession,True,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Received on-the-job training in software devel...,500 to 999 employees,"Developer, embedded applications or devices",9,19,4,Very satisfied,Slightly satisfied,Not at all confident,Yes,No,"I’m not actively looking, but I am open to new...",1-2 years ago,"Write any code;Write code by hand (e.g., on a ...",No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,175000.0,Weekly,2000000.0,40.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Distrac...,Less than once per month / Never,Office,A little above average,"Yes, because I was told to do so",4.0,"No, but I think we should",Not sure,I have little or no influence,C++;Go,C++;Go,NaN,PostgreSQL,Linux,Linux,NaN,NaN,NaN,NaN,Sublime Text;Vim,Linux-based,I do not use containers,Not at all,Useful for immutable record keeping outside of...,Yes,SIGH,Yes,WhatsApp,In real life (in person),Username,2012,A few times per month or weekly,Find answers to specific questions;Contribute ...,Less than once per week,Stack Overflow was much faster,60+ minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,NaN,28.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,No,Appropriate in length,Easy
3133,I am a developer by profession,True,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,Taken an online course in programming or softw...,"10,000 or more employees","Developer, back-end;Developer, full-stack",7,13,5,Slightly satisfied,Neither satisfied nor dissatisfied,Very confident,Not sure,Not sure,"I’m not actively looking, but I am open to new...",1-2 years ago,"Write any code;Write code by hand (e.g., on a ...",Yes,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,140000.0,Weekly,2000000.0,40.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Inadequ...,Less than once per month / Never,Office,Average,"Yes, because I see value in code review",3.0,"Yes, it's part of our process","The CTO, CIO, or other management purchase new...",I have little or no influence,Bash/Shell/PowerShell;Go;HTML/CSS;JavaScript;P...,Go;Rust,DynamoDB;SQLite,DynamoDB;SQLite,AWS;Linux,AWS;Google Cloud Platform;Linux,NaN,NaN,Node.js;Unity 3D,Torch/PyTorch;Unity 3D,IntelliJ;Sublime Text;Vim;Visual Studio Code,MacOS,Production,Not at all,An irresponsible use of resources,No,Also Yes,Yes,Reddit,In real life (in person),Username,NaN,A few times per month or weekly,Find answers to specific questions;Learn how t...,1-2 times per week,Stack Overflow was much faster,0-10 minutes,No,NaN,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","No, not at all",Just as welcome now as I felt last year,NaN,28.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
78960,I am a developer by profession,True,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"5,000 to 9,999 employees",Database administrator;DevOps specialist;Engin...,6,18,2,Slightly satisfied,Slightly satisfied,Somewhat confident,Not sure,Not sure,"I’m not actively looking, but I am open to new...",1-2 years ago,Interview with people in senior / management r...,Yes,Specific department or team I'd be working on;...,I had a negative experience or interaction at ...,USD,United States dollar,45000.0,Weekly,2000000.0,40.0,There's no schedule or spec; I work on what se...,Inadequate access to necessary tools;Not enoug...,A few days each month,Home,A little above average,No,NaN,"No, but I think we should","The CTO, CIO, or other management purchase new...",I have little or no influence,Bash/Shell/PowerShell;C#;HTML/CSS;Python;SQL,Bash/Shell/PowerShell;Python;R,Microsoft SQL Server,Cassandra;MariaDB;PostgreSQL;SQLite,Heroku;Linux;Microsoft Azure;Raspberry Pi;Windows,AWS;Docker;Linux,Django,Django;Flask,Apache Spark;Hadoop;Pandas;Xamarin,Ansible;Apache Spark;Hadoop;Pandas;TensorFlow;...,IntelliJ;IPython / Jupyter;Notepad++;Sublime T...,Linux-based,"Outside of work, for personal projects",Not at all,NaN,Yes,Also Yes,Yes,Reddit,Neither,Username,2012,A few times per week,Find answers to specific questions,3-5 times per week,The other resource was slightly faster,11-30 minutes,Not sure / can't remember,NaN,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,NaN,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too long,Neither easy nor difficult
3120,I am a developer by profession,True,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,500 to 999 employees,"Developer, back-end;DevOps specialist;Engineer...",5,19,1,Very satisfied,Very satisfied,Very confident,No,Not sure,I am not interested in new job opportunities,1-2 years ago,"Write any code;Write code by hand (e.g., on a ...",No,"Languages, frameworks, and other technologies ...","My job status changed (promotion, new job, etc.)",USD,United States dollar,65000.0,Weekly,2000000.0,45.0,There is a schedule and/or spec (made by me or...,Not enough people for the workload,"Less than half the time, but at least one day ...",Office,Average,"Yes, because I see value in code review",5.0,"Yes, it's part of our process",Developers typically have the most influence o...,I have some influence,Bash/Shell/PowerShell;Clojure;HTML/CSS;Java;Ja...,C;HTML/CSS;Java;JavaScript;Python;Ruby;SQL;Web...,Elasticsearch;Firebase;MariaDB;MongoDB;Microso...,Elasticsearch;Firebase;MariaDB;MongoDB;Microso...,AWS;Kubernetes;Linux;MacOS;Slack,AWS;Docker;Heroku;Kubernetes;Linux;MacOS;Raspb...,Ruby on Rails,Ruby on Rails,Chef;Node.js,Chef;Node.js,Atom;Light Table;Vim;Visual Studio Code,Linux-based,Development;Testing,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",Yes,Yes,Yes,LinkedIn,Online,Login,2011,Multiple times per day,Find answers to specific questions,Less than once per week,Stack Overflow was slightly faster,11-30 minutes,Yes,I have never participated in Q&A on Stack Over...,Yes,"No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,NaN,Man,No,Straight / Heterosexual,East Asian,No,Appropriate in length,Neither easy nor difficult
78853,I am a developer by profession,False,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,500 to 999 employees,"Developer, back-end;Developer, full-stack",16,16,10,Very satisfied,Neither satisfied nor dissatisfied,Not at all confident,Not sure,Yes,"I’m not actively looking, but I am open to new...",1-2 years ago,Write any code;Interview with people in peer r...,No,Opportunities for professional development;How...,I heard about a job opportunity (from a recrui...,USD,United States dollar,125000.0,Weekly,2000000.0,42.0,There is a schedule and/or spec (made by me or...,Distracting work environment;Lack of support f...,A few days each month,Office,Far above average,"Yes, because I see value in code review",6.0,"Yes, it's not part of our process but the deve...","The CTO, CIO, or other management purchase new...",I have little or no influence,Bash/Shell/PowerShell;C#;F#;HTML/CSS;Java;Java...,C#;F#;Go;JavaScript;Rust;SQL;TypeScript;WebAss...,Microsoft SQL Server,Cassandra;Elasticsearch;Microsoft SQL Server;R...,Windows,Docker;Kubernetes;Microsoft Azure,ASP.NET;jQuery;React.js,ASP.NET;React.js;Vue.js,.NET;.NET Core;React Native,Hadoop;.NET;.NET Core;React Native,Visual Studio;Visual Studio Code,Windows,"Outside of work, for personal projects",Not at all,Useful for immutable record keeping outside of...,No,Yes,No,LinkedIn,Neither,Username,2011,Multiple times per day,Find answers to specific questions;Contribute ...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are","Yes, definitely",Just as welcome now as I felt last year,Tech articles written by other developers,32.0,Man,No,Straight / Heterosexual,Multiracial,No,Too long,Neither easy nor difficult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32801,I am a developer by profession,False,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,United States,"Yes, part-time",Associate degree,"A business discipline (ex. accounting, finance...","Taught yourself a new language, framework, or ...","10,000 or more employees","Data or business analyst;Developer, desktop or...",23,11,18,Slightly dissatisfied,Slightly satisfied,Somewhat confident,Yes,Yes,I am actively looking for a job,More than 4 years ago,Interview with people in peer roles;Interview ...,No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,NaN,NaN,NaN,38.0,There is a schedule and/or spec (made by me or...,Distracting work environment;Meetings;Toxic wo...,Less than once per month / Never,Office,Far above average,No,NaN,"No, and I'm glad we don't","The CTO, CIO, or other management purchase new...",I have little or no influence,C#;SQL;VBA;Other(s):,C#;SQL;VBA;Other(s):,Microsoft SQL Server;Other(s):,Microsoft SQL Server;Other(s):,Windows,Windows,NaN,NaN,NaN,NaN,Notepad++;Visual Studio,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,No,Yes,Yes,I don't use social media,Neither,Username,2010,A few times per week,Find answers to specific questions,1-2 times per week,They were about the same,NaN,Yes,Less than once per month or monthly,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are","No, not at all",A lot less welcome now than last year,NaN,NaN,Man,No,NaN,NaN,NaN,NaN,NaN
32811,I am a developer by profession,False,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,NaN,NaN,20,15,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C#;Java;SQL,C#;Python;SQL;TypeScript,Microsoft SQL Server;MySQL;Oracle,Microsoft SQL Server,Windows,Microsoft Azure;Windows,NaN,Angular/Angular.js;ASP.NET,.NET,.NET;.NET Core;Node.js,Visual Studio,Windows,I do not use containers,NaN,A passing fad,No,SIGH,Yes,Twitter,Online,UserID,2009,A few times per month or weekly,Find answers to specific questions,Less than once per week,Stack Overflow was much faster,60+ minutes,No,NaN,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,Industry news about technologies you're intere...,NaN,Woman,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
32886,I am a developer by profession,False,Less than once per year,The quality of OSS and closed source software ...,Employed part-time,United States,No,Some college/university study without earning ...,"A natural science (ex. biology, chemistry, phy...",Taken an online course in programming or softw...,"Just me - I am a freelancer, sole proprietor, ...","Developer, front-end",3,44,2,Very satisfied,Very dissatisfied,I don't have a manager,Not sure,No,I am actively looking for a job,Less than a year ago,Interview with people in senior / management r...,No,Remote work options;Opportunities for professi...,I was preparing for a job search,USD,United States dollar,NaN,NaN,NaN,NaN,There is a schedule and/or spec (made by me or...,Distracting work environment;Non-work commitme...,All or almost all the time (I'm full-time remote),Home,Average,No,NaN,NaN,NaN,NaN,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...,Ruby,NaN,NaN,NaN,NaN,Vue.js,NaN,NaN,NaN,Visual Studio Code,Windows,I do not use containers,NaN,NaN,No,Yes,Yes,Twitter,In real life (in person),Username,NaN,Daily or almost daily,Find answers to specific questions;Learn how t...,More than 10 times per week,Stack Overflow was much faster,11-30 minutes,Yes,I have never participated in Q&A on Stack Over...,Yes,"No, and I don't know what those are","No, not really",NaN,NaN,47.0,Woman,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy
68604,I am a developer by profession,True,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"1,000 to 4,999 employees","Engineer, site reliability",20,15,16,Very satisfied,Very satisfied,Somewhat confident,No,No,I am not interested in new job opportunities,More than 4 years ago,Write any code;Complete a take-home project;In...,No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,NaN,Yearly,NaN,45.0,There's no schedule or spec; I work on what se...,Distracting work environment;Meetings,All or almost all the time (I'm full-time remote),Home,Far above average,No,NaN,"Yes, it's part of our process",Not sure,I have some influence,Bash/Shell/PowerShell;Go;HTML/CSS;Java;JavaScr...,Bash/Shell/PowerShell;Go;HTML/CSS;Java;JavaScr...,MariaDB;MySQL;PostgreSQL;Redis;SQLite,MariaDB;MySQL;PostgreSQL;Redis;SQLite,Docker;Linux,Docker;Linux,Flask;React.js;Spring,Flask;React.js;Spring,Node.js,Node.js,Eclipse;Vim;Visual Studio Code,MacOS,"Development;Outside of work, for personal proj...",NaN,Useful for immutable record keeping outside of...,Yes,Yes,Yes,I don't use social media,In real life (in person),Username,I don't remember,Daily or almost daily,Find answers to specific questions;Contribute ...,3-5 times per week,Stack Overflow was much faster,0-10 minutes,Yes,A few times per week,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, definitely",Just as welcome now as I felt last year,NaN,36.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
33792,I am a developer by profession,True,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,United States,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"1,000 to 4,999 employees",Data scientist or machine learning specialist;...,6,14,1,Very satisfied,Very satisfied,Very confident,Not sure,Not sure,I am not interested in new job opportunities,Less than a year ago,Interview with people in peer roles;Interview ...,No,Industry that I'd be working in;Office environ...,I was preparing for a job search,USD,United States dollar,NaN,NaN,NaN,NaN,There is a schedule and/or spec (made by me or...,Meetings,"Less than half the time, but at least one day ...",Office,Average,"Yes, because I see value in code review",2.0,"Yes, it's not part of our process but the deve...",Not sure,I have little or no influence,JavaScript;Python;R;SQL,C++;JavaScript;Python;R;Scala;SQL,PostgreSQL,PostgreSQL,NaN,NaN,NaN,Django,Pandas;TensorFlow,Apache Spark;Hadoop;Pandas;TensorFlow,IPython / Jupyter;RStudio;Vim,MacOS,Development,Not at all,Useful for immutable record keeping outside of...,Yes,Yes,What?,Twitter,In real life (in person),Username,I don't remember,A few times per week,Find answers to specific questions,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,Yes,"No, I've heard of them, but I am not part of a...","No, not really",Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,27.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy

In [143]:
filt = df['Country'] == 'United States'
df.loc[filt]

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,SalaryUSD,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2940,I am a developer by profession,True,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Received on-the-job training in software devel...,500 to 999 employees,"Developer, embedded applications or devices",9,19,4,Very satisfied,Slightly satisfied,Not at all confident,Yes,No,"I’m not actively looking, but I am open to new...",1-2 years ago,"Write any code;Write code by hand (e.g., on a ...",No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,175000.0,Weekly,2000000.0,40.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Distrac...,Less than once per month / Never,Office,A little above average,"Yes, because I was told to do so",4.0,"No, but I think we should",Not sure,I have little or no influence,C++;Go,C++;Go,NaN,PostgreSQL,Linux,Linux,NaN,NaN,NaN,NaN,Sublime Text;Vim,Linux-based,I do not use containers,Not at all,Useful for immutable record keeping outside of...,Yes,SIGH,Yes,WhatsApp,In real life (in person),Username,2012,A few times per month or weekly,Find answers to specific questions;Contribute ...,Less than once per week,Stack Overflow was much faster,60+ minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,NaN,28.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,No,Appropriate in length,Easy
3133,I am a developer by profession,True,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,Taken an online course in programming or softw...,"10,000 or more employees","Developer, back-end;Developer, full-stack",7,13,5,Slightly satisfied,Neither satisfied nor dissatisfied,Very confident,Not sure,Not sure,"I’m not actively looking, but I am open to new...",1-2 years ago,"Write any code;Write code by hand (e.g., on a ...",Yes,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,140000.0,Weekly,2000000.0,40.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Inadequ...,Less than once per month / Never,Office,Average,"Yes, because I see value in code review",3.0,"Yes, it's part of our process","The CTO, CIO, or other management purchase new...",I have little or no influence,Bash/Shell/PowerShell;Go;HTML/CSS;JavaScript;P...,Go;Rust,DynamoDB;SQLite,DynamoDB;SQLite,AWS;Linux,AWS;Google Cloud Platform;Linux,NaN,NaN,Node.js;Unity 3D,Torch/PyTorch;Unity 3D,IntelliJ;Sublime Text;Vim;Visual Studio Code,MacOS,Production,Not at all,An irresponsible use of resources,No,Also Yes,Yes,Reddit,In real life (in person),Username,NaN,A few times per month or weekly,Find answers to specific questions;Learn how t...,1-2 times per week,Stack Overflow was much faster,0-10 minutes,No,NaN,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","No, not at all",Just as welcome now as I felt last year,NaN,28.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
78960,I am a developer by profession,True,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"5,000 to 9,999 employees",Database administrator;DevOps specialist;Engin...,6,18,2,Slightly satisfied,Slightly satisfied,Somewhat confident,Not sure,Not sure,"I’m not actively looking, but I am open to new...",1-2 years ago,Interview with people in senior / management r...,Yes,Specific department or team I'd be working on;...,I had a negative experience or interaction at ...,USD,United States dollar,45000.0,Weekly,2000000.0,40.0,There's no schedule or spec; I work on what se...,Inadequate access to necessary tools;Not enoug...,A few days each month,Home,A little above average,No,NaN,"No, but I think we should","The CTO, CIO, or other management purchase new...",I have little or no influence,Bash/Shell/PowerShell;C#;HTML/CSS;Python;SQL,Bash/Shell/PowerShell;Python;R,Microsoft SQL Server,Cassandra;MariaDB;PostgreSQL;SQLite,Heroku;Linux;Microsoft Azure;Raspberry Pi;Windows,AWS;Docker;Linux,Django,Django;Flask,Apache Spark;Hadoop;Pandas;Xamarin,Ansible;Apache Spark;Hadoop;Pandas;TensorFlow;...,IntelliJ;IPython / Jupyter;Notepad++;Sublime T...,Linux-based,"Outside of work, for personal projects",Not at all,NaN,Yes,Also Yes,Yes,Reddit,Neither,Username,2012,A few times per week,Find answers to specific questions,3-5 times per week,The other resource was slightly faster,11-30 minutes,Not sure / can't remember,NaN,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,NaN,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too long,Neither easy nor difficult
3120,I am a developer by profession,True,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,500 to 999 employees,"Developer, back-end;DevOps specialist;Engineer...",5,19,1,Very satisfied,Very satisfied,Very confident,No,Not sure,I am not interested in new job opportunities,1-2 years ago,"Write any code;Write code by hand (e.g., on a ...",No,"Languages, frameworks, and other technologies ...","My job status changed (promotion, new job, etc.)",USD,United States dollar,65000.0,Weekly,2000000.0,45.0,There is a schedule and/or spec (made by me or...,Not enough people for the workload,"Less than half the time, but at least one day ...",Office,Average,"Yes, because I see value in code review",5.0,"Yes, it's part of our process",Developers typically have the most influence o...,I have some influence,Bash/Shell/PowerShell;Clojure;HTML/CSS;Java;Ja...,C;HTML/CSS;Java;JavaScript;Python;Ruby;SQL;Web...,Elasticsearch;Firebase;MariaDB;MongoDB;Microso...,Elasticsearch;Firebase;MariaDB;MongoDB;Microso...,AWS;Kubernetes;Linux;MacOS;Slack,AWS;Docker;Heroku;Kubernetes;Linux;MacOS;Raspb...,Ruby on Rails,Ruby on Rails,Chef;Node.js,Chef;Node.js,Atom;Light Table;Vim;Visual Studio Code,Linux-based,Development;Testing,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",Yes,Yes,Yes,LinkedIn,Online,Login,2011,Multiple times per day,Find answers to specific questions,Less than once per week,Stack Overflow was slightly faster,11-30 minutes,Yes,I have never participated in Q&A on Stack Over...,Yes,"No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,NaN,Man,No,Straight / Heterosexual,East Asian,No,Appropriate in length,Neither easy nor difficult
78853,I am a developer by profession,False,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,500 to 999 employees,"Developer, back-end;Developer, full-stack",16,16,10,Very satisfied,Neither satisfied nor dissatisfied,Not at all confident,Not sure,Yes,"I’m not actively looking, but I am open to new...",1-2 years ago,Write any code;Interview with people in peer r...,No,Opportunities for professional development;How...,I heard about a job opportunity (from a recrui...,USD,United States dollar,125000.0,Weekly,2000000.0,42.0,There is a schedule and/or spec (made by me or...,Distracting work environment;Lack of support f...,A few days each month,Office,Far above average,"Yes, because I see value in code review",6.0,"Yes, it's not part of our process but the deve...","The CTO, CIO, or other management purchase new...",I have little or no influence,Bash/Shell/PowerShell;C#;F#;HTML/CSS;Java;Java...,C#;F#;Go;JavaScript;Rust;SQL;TypeScript;WebAss...,Microsoft SQL Server,Cassandra;Elasticsearch;Microsoft SQL Server;R...,Windows,Docker;Kubernetes;Microsoft Azure,ASP.NET;jQuery;React.js,ASP.NET;React.js;Vue.js,.NET;.NET Core;React Native,Hadoop;.NET;.NET Core;React Native,Visual Studio;Visual Studio Code,Windows,"Outside of work, for personal projects",Not at all,Useful for immutable record keeping outside of...,No,Yes,No,LinkedIn,Neither,Username,2011,Multiple times per day,Find answers to specific questions;Contribute ...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are","Yes, definitely",Just as welcome now as I felt last year,Tech articles written by other developers,32.0,Man,No,Straight / Heterosexual,Multiracial,No,Too long,Neither easy nor difficult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32801,I am a developer by profession,False,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,United States,"Yes, part-time",Associate degree,"A business discipline (ex. accounting, finance...","Taught yourself a new language, framework, or ...","10,000 or more employees","Data or business analyst;Developer, desktop or...",23,11,18,Slightly dissatisfied,Slightly satisfied,Somewhat confident,Yes,Yes,I am actively looking for a job,More than 4 years ago,Interview with people in peer roles;Interview ...,No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,NaN,NaN,NaN,38.0,There is a schedule and/or spec (made by me or...,Distracting work environment;Meetings;Toxic wo...,Less than once per month / Never,Office,Far above average,No,NaN,"No, and I'm glad we don't","The CTO, CIO, or other management purchase new...",I have little or no influence,C#;SQL;VBA;Other(s):,C#;SQL;VBA;Other(s):,Microsoft SQL Server;Other(s):,Microsoft SQL Server;Other(s):,Windows,Windows,NaN,NaN,NaN,NaN,Notepad++;Visual Studio,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,No,Yes,Yes,I don't use social media,Neither,Username,2010,A few times per week,Find answers to specific questions,1-2 times per week,They were about the same,NaN,Yes,Less than once per month or monthly,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are","No, not at all",A lot less welcome now than last year,NaN,NaN,Man,No,NaN,NaN,NaN,NaN,NaN
32811,I am a developer by profession,False,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,NaN,NaN,20,15,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C#;Java;SQL,C#;Python;SQL;TypeScript,Microsoft SQL Server;MySQL;Oracle,Microsoft SQL Server,Windows,Microsoft Azure;Windows,NaN,Angular/Angular.js;ASP.NET,.NET,.NET;.NET Core;Node.js,Visual Studio,Windows,I do not use containers,NaN,A passing fad,No,SIGH,Yes,Twitter,Online,UserID,2009,A few times per month or weekly,Find answers to specific questions,Less than once per week,Stack Overflow was much faster,60+ minutes,No,NaN,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,Industry news about technologies you're intere...,NaN,Woman,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
32886,I am a developer by profession,False,Less than once per year,The quality of OSS and closed source software ...,Employed part-time,United States,No,Some college/university study without earning ...,"A natural science (ex. biology, chemistry, phy...",Taken an online course in programming or softw...,"Just me - I am a freelancer, sole proprietor, ...","Developer, front-end",3,44,2,Very satisfied,Very dissatisfied,I don't have a manager,Not sure,No,I am actively looking for a job,Less than a year ago,Interview with people in senior / management r...,No,Remote work options;Opportunities for professi...,I was preparing for a job search,USD,United States dollar,NaN,NaN,NaN,NaN,There is a schedule and/or spec (made by me or...,Distracting work environment;Non-work commitme...,All or almost all the time (I'm full-time remote),Home,Average,No,NaN,NaN,NaN,NaN,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...,Ruby,NaN,NaN,NaN,NaN,Vue.js,NaN,NaN,NaN,Visual Studio Code,Windows,I do not use containers,NaN,NaN,No,Yes,Yes,Twitter,In real life (in person),Username,NaN,Daily or almost daily,Find answers to specific questions;Learn how t...,More than 10 times per week,Stack Overflow was much faster,11-30 minutes,Yes,I have never participated in Q&A on Stack Over...,Yes,"No, and I don't know what those are","No, not really",NaN,NaN,47.0,Woman,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy
68604,I am a developer by profession,True,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"1,000 to 4,999 employees","Engineer, site reliability",20,15,16,Very satisfied,Very satisfied,Somewhat confident,No,No,I am not interested in new job opportunities,More than 4 years ago,Write any code;Complete a take-home project;In...,No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,NaN,Yearly,NaN,45.0,There's no schedule or spec; I work on what se...,Distracting work environment;Meetings,All or almost all the time (I'm full-time remote),Home,Far above average,No,NaN,"Yes, it's part of our process",Not sure,I have some influence,Bash/Shell/PowerShell;Go;HTML/CSS;Java;JavaScr...,Bash/Shell/PowerShell;Go;HTML/CSS;Java;JavaScr...,MariaDB;MySQL;PostgreSQL;Redis;SQLite,MariaDB;MySQL;PostgreSQL;Redis;SQLite,Docker;Linux,Docker;Linux,Flask;React.js;Spring,Flask;React.js;Spring,Node.js,Node.js,Eclipse;Vim;Visual Studio Code,MacOS,"Development;Outside of work, for personal proj...",NaN,Useful for immutable record keeping outside of...,Yes,Yes,Yes,I don't use social media,In real life (in person),Username,I don't remember,Daily or almost daily,Find answers to specific questions;Contribute ...,3-5 times per week,Stack Overflow was much faster,0-10 minutes,Yes,A few times per week,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, definitely",Just as welcome now as I felt last year,NaN,36.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
33792,I am a developer by profession,True,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,United States,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"1,000 to 4,999 employees",Data scientist or machine learning specialist;...,6,14,1,Very satisfied,Very satisfied,Very confident,Not sure,Not sure,I am not interested in new job opportunities,Less than a year ago,Interview with people in peer roles;Interview ...,No,Industry that I'd be working in;Office environ...,I was preparing for a job search,USD,United States dollar,NaN,NaN,NaN,NaN,There is a schedule and/or spec (made by me or...,Meetings,"Less than half the time, but at least one day ...",Office,Average,"Yes, because I see value in code review",2.0,"Yes, it's not part of our process but the deve...",Not sure,I have little or no influence,JavaScript;Python;R;SQL,C++;JavaScript;Python;R;Scala;SQL,PostgreSQL,PostgreSQL,NaN,NaN,NaN,Django,Pandas;TensorFlow,Apache Spark;Hadoop;Pandas;TensorFlow,IPython / Jupyter;RStudio;Vim,MacOS,Development,Not at all,Useful for immutable record keeping outside of...,Yes,Yes,What?,Twitter,In real life (in person),Username,I don't remember,A few times per week,Find answers to specific questions,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,Yes,"No, I've heard of them, but I am not part of a...","No, not really",Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,27.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy

In [144]:
df.loc[filt]['SocialMedia'].value_counts()

Reddit                      5700
Twitter                     3468
Facebook                    2844
YouTube                     2463
I don't use social media    1851
Instagram                   1652
LinkedIn                    1020
WhatsApp                     609
Snapchat                     326
WeChat 微信                     93
VK ВКонта́кте                  9
Weibo 新浪微博                     8
Hello                          2
Youku Tudou 优酷                 1
Name: SocialMedia, dtype: int64

In [145]:
country_grp['SocialMedia'].value_counts()

Country      SocialMedia
Afghanistan  Facebook                    15
             YouTube                      9
             I don't use social media     6
             WhatsApp                     4
             Instagram                    1
                                         ..
Zimbabwe     Facebook                     3
             YouTube                      3
             Instagram                    2
             LinkedIn                     2
             Reddit                       1
Name: SocialMedia, Length: 1220, dtype: int64

From the above groups if we want to get value from any particular country.

In [146]:
country_grp['SocialMedia'].value_counts().loc['India']

SocialMedia
WhatsApp                    2990
YouTube                     1820
LinkedIn                     955
Facebook                     841
Instagram                    822
Twitter                      542
Reddit                       473
I don't use social media     250
Snapchat                      23
Hello                          5
WeChat 微信                      5
VK ВКонта́кте                  4
Youku Tudou 优酷                 2
Weibo 新浪微博                     1
Name: SocialMedia, dtype: int64

In [147]:
country_grp['SocialMedia'].value_counts(normalize=True).loc['India']

SocialMedia
WhatsApp                    0.342379
YouTube                     0.208405
LinkedIn                    0.109355
Facebook                    0.096301
Instagram                   0.094126
Twitter                     0.062063
Reddit                      0.054162
I don't use social media    0.028627
Snapchat                    0.002634
Hello                       0.000573
WeChat 微信                   0.000573
VK ВКонта́кте               0.000458
Youku Tudou 优酷              0.000229
Weibo 新浪微博                  0.000115
Name: SocialMedia, dtype: float64

In [148]:
country_grp['SalaryUSD'].median()

Country
Afghanistan                               6222.0
Albania                                  10818.0
Algeria                                   7878.0
Andorra                                 160931.0
Angola                                    7764.0
                                          ...
Venezuela, Bolivarian Republic of...      6384.0
Viet Nam                                 11892.0
Yemen                                    11940.0
Zambia                                    5040.0
Zimbabwe                                 19200.0
Name: SalaryUSD, Length: 179, dtype: float64

In [149]:
country_grp['SalaryUSD'].median().loc['Germany']

63016.0

### Aggregated values

In [150]:
country_grp['SalaryUSD'].agg(['median', 'mean'])

                                        median           mean
Country
Afghanistan                             6222.0  101953.333333
Albania                                10818.0   21833.700000
Algeria                                 7878.0   34924.047619
Andorra                               160931.0  160931.000000
Angola                                  7764.0    7764.000000
...                                        ...            ...
Venezuela, Bolivarian Republic of...    6384.0   14581.627907
Viet Nam                               11892.0   17233.436782
Yemen                                  11940.0   16909.166667
Zambia                                  5040.0   10075.375000
Zimbabwe                               19200.0   34046.666667

[179 rows x 2 columns]

In [151]:
country_grp['SalaryUSD'].agg(['median', 'mean']).loc['Canada']

median     68705.000000
mean      134018.564909
Name: Canada, dtype: float64

How many peoples from United States worked with Python language.

Using filter method

In [152]:
filt = df['Country'] == 'United States'
df.loc[filt]['LanguageWorkedWith'].str.contains('Python').sum()

10083

Using groupby method

In [153]:
country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [154]:
country_respondent = df['Country'].value_counts()

In [155]:
counting_using_python = country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

In [156]:
python_df = pd.concat([country_respondent, counting_using_python], axis='columns', sort=False)
python_df

                                  Country  LanguageWorkedWith
United States                       20949               10083
India                                9061                3105
Germany                              5866                2451
United Kingdom                       5737                2384
Canada                               3395                1558
...                                   ...                 ...
North Korea                             1                   0
Niger                                   1                   1
Saint Vincent and the Grenadines        1                   0
Chad                                    1                   0
Brunei Darussalam                       1                   0

[179 rows x 2 columns]

In [157]:
python_df.rename(columns={'Country':'NumPrespondents', 'LanguageWorkedWith':'NumKnowsPython'}, inplace=True)

In [158]:
python_df

                                  NumPrespondents  NumKnowsPython
United States                               20949           10083
India                                        9061            3105
Germany                                      5866            2451
United Kingdom                               5737            2384
Canada                                       3395            1558
...                                           ...             ...
North Korea                                     1               0
Niger                                           1               1
Saint Vincent and the Grenadines                1               0
Chad                                            1               0
Brunei Darussalam                               1               0

[179 rows x 2 columns]

In [159]:
python_df['PctKnowsPython'] = python_df['NumKnowsPython'] / python_df['NumPrespondents'] * 100

In [160]:
python_df

,NumPrespondents,NumKnowsPython,PctKnowsPython
United States,20949,10083,48.131176
India,9061,3105,34.267741
Germany,5866,2451,41.783157
United Kingdom,5737,2384,41.554820
Canada,3395,1558,45.891016
...,...,...,...
North Korea,1,0,0.000000
Niger,1,1,100.000000
Saint Vincent and the Grenadines,1,0,0.000000
Chad,1,0,0.000000
Brunei Darussalam,1,0,0.000000

--------------

## 9. Cleaning Data - Casting Datatypes and Handling Missing Values

In [161]:
people = {
    'first': ['Corey', 'Jane', 'John', 'Chris', np.nan, None, 'NA'], 
    'last': ['Schafer', 'Doe', 'Doe', 'Schafer', np.nan, np.nan, 'Missing'], 
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com', None, np.nan, 'Anonymous@email.com', 'NA'],
    'age': ['33', '55', '63', '36', None, None, 'Missing']
}

people_df = pd.DataFrame(people)

In [162]:
people_df

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
3  Chris  Schafer                     None       36
4    NaN      NaN                      NaN     None
5   None      NaN      Anonymous@email.com     None
6     NA  Missing                       NA  Missing

In [163]:
people_df.dropna()

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
6     NA  Missing                       NA  Missing

dropna(axis='index', how='any')

In this the code will go through the rows and drop row which have na value in any coloumn.

In [164]:
people_df.dropna(axis='index', how='any')

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
6     NA  Missing                       NA  Missing

In [166]:
# Remove the row if it have na in all the columns.

people_df.dropna(axis='index', how='all')

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
3  Chris  Schafer                     None       36
5   None      NaN      Anonymous@email.com     None
6     NA  Missing                       NA  Missing

In [167]:
people_df.dropna(axis='columns', how='all')

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
3  Chris  Schafer                     None       36
4    NaN      NaN                      NaN     None
5   None      NaN      Anonymous@email.com     None
6     NA  Missing                       NA  Missing

In [168]:
people_df.dropna(axis='columns', how='any')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6]

### Remove only from some missing columns

In [169]:
people_df.dropna(axis='index', how='any', subset=['email'])

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
5   None      NaN      Anonymous@email.com     None
6     NA  Missing                       NA  Missing

In [170]:
people_df.dropna(axis='index', how='all', subset=['last', 'email'])

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
3  Chris  Schafer                     None       36
5   None      NaN      Anonymous@email.com     None
6     NA  Missing                       NA  Missing

### Replacing missing values by nan while creating dataframe

In [171]:
people_df = pd.DataFrame(people)

people_df.replace('NA', np.nan, inplace=True)
people_df.replace('Missing', np.nan, inplace=True)

people_df

   first     last                    email   age
0  Corey  Schafer  CoreyMSchafer@gmail.com    33
1   Jane      Doe        JaneDoe@email.com    55
2   John      Doe        JohnDoe@email.com    63
3  Chris  Schafer                     None    36
4    NaN      NaN                      NaN  None
5   None      NaN      Anonymous@email.com  None
6    NaN      NaN                      NaN   NaN

In [173]:
people_df.isna()

   first   last  email    age
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3  False  False   True  False
4   True   True   True   True
5   True   True  False   True
6   True   True   True   True

### Fill na values

In [174]:
people_df.fillna('MISSING')

     first     last                    email      age
0    Corey  Schafer  CoreyMSchafer@gmail.com       33
1     Jane      Doe        JaneDoe@email.com       55
2     John      Doe        JohnDoe@email.com       63
3    Chris  Schafer                  MISSING       36
4  MISSING  MISSING                  MISSING  MISSING
5  MISSING  MISSING      Anonymous@email.com  MISSING
6  MISSING  MISSING                  MISSING  MISSING

### Casting

In [175]:
people_df.dtypes

first    object
last     object
email    object
age      object
dtype: object

In [179]:
people_df['age'] = people_df['age'].astype(float)

In [180]:
people_df.dtypes

first     object
last      object
email     object
age      float64
dtype: object

In [182]:
people_df.mean()

C:\Users\Suraj\AppData\Local\Temp\ipykernel_9040\4100048241.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  people_df.mean()

age    46.75
dtype: float64

-------------------

### Stackoverflow data

In [183]:
# Create a custom list of all missing values

na_vals = ['NA', 'Missing']
df = pd.read_csv('data/survey_results_public.csv', index_col='Respondent', na_values=na_vals)

Calculate average years of experience

In [186]:
df['YearsCode'] = df['YearsCode'].astype(float)

ValueError: could not convert string to float: 'Less than 1 year'

In [188]:
df['YearsCode'].unique()

array(['4', nan, '3', '16', '13', '6', '8', '12', '2', '5', '17', '10',
       '14', '35', '7', 'Less than 1 year', '30', '9', '26', '40', '19',
       '15', '20', '28', '25', '1', '22', '11', '33', '50', '41', '18',
       '34', '24', '23', '42', '27', '21', '36', '32', '39', '38', '31',
       '37', 'More than 50 years', '29', '44', '45', '48', '46', '43',
       '47', '49'], dtype=object)

In [189]:
df['YearsCode'].replace('Less than 1 year', 0, inplace=True)
df['YearsCode'].replace('More than 50 years', 51, inplace=True)

In [190]:
df['YearsCode'] = df['YearsCode'].astype(float)

In [191]:
df['YearsCode'].mean()

11.662114216834588

In [192]:
df['YearsCode'].median()

9.0

-----------------

## 10. Working with Dates and Time Series Data

## 11. Reading/Writing Data to Different Sources