# Pandas Tutorial

## 1. Installation and Loading Data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/survey_results_public.csv', index_col='Respondent')

In [3]:
df.shape

(88883, 84)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88883 entries, 1 to 88863
Data columns (total 84 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   MainBranch              88331 non-null  object
 1   Hobbyist                88883 non-null  object
 2   OpenSourcer             88883 non-null  object
 3   OpenSource              86842 non-null  object
 4   Employment              87181 non-null  object
 5   Country                 88751 non-null  object
 6   Student                 87014 non-null  object
 7   EdLevel                 86390 non-null  object
 8   UndergradMajor          75614 non-null  object
 9   EduOther                84260 non-null  object
 10  OrgSize                 71791 non-null  object
 11  DevType                 81335 non-null  object
 12  YearsCode               87938 non-null  object
 13  Age1stCode              87634 non-null  object
 14  YearsCodePro            74331 non-null  object
 15  CareerSat               72847 non-null  object
 16  JobSat                  70988 non-null  object
 17  MgrIdiot                61159 non-null  object
 18  MgrMoney                61157 non-null  object
 19  MgrWant                 61232 non-null  object
 20  JobSeek                 80555 non-null  object
 21  LastHireDate            79854 non-null  object
 22  LastInt                 67155 non-null  object
 23  FizzBuzz                71344 non-null  object
 24  JobFactors              79371 non-null  object
 25  ResumeUpdate            77877 non-null  object
 26  CurrencySymbol          71392 non-null  object
 27  CurrencyDesc            71392 non-null  object
 28  CompTotal               55945 non-null  float64
 29  CompFreq                63268 non-null  object
 30  ConvertedComp           55823 non-null  float64
 31  WorkWeekHrs             64503 non-null  float64
 32  WorkPlan                68914 non-null  object
 33  WorkChallenge           68141 non-null  object
 34  WorkRemote              70284 non-null  object
 35  WorkLoc                 70055 non-null  object
 36  ImpSyn                  71779 non-null  object
 37  CodeRev                 70390 non-null  object
 38  CodeRevHrs              49790 non-null  float64
 39  UnitTests               62668 non-null  object
 40  PurchaseHow             61108 non-null  object
 41  PurchaseWhat            62029 non-null  object
 42  LanguageWorkedWith      87569 non-null  object
 43  LanguageDesireNextYear  84088 non-null  object
 44  DatabaseWorkedWith      76026 non-null  object
 45  DatabaseDesireNextYear  69147 non-null  object
 46  PlatformWorkedWith      80714 non-null  object
 47  PlatformDesireNextYear  77443 non-null  object
 48  WebFrameWorkedWith      65022 non-null  object
 49  WebFrameDesireNextYear  62944 non-null  object
 50  MiscTechWorkedWith      59586 non-null  object
 51  MiscTechDesireNextYear  64511 non-null  object
 52  DevEnviron              87317 non-null  object
 53  OpSys                   87851 non-null  object
 54  Containers              85366 non-null  object
 55  BlockchainOrg           48175 non-null  object
 56  BlockchainIs            60165 non-null  object
 57  BetterLife              86269 non-null  object
 58  ITperson                87141 non-null  object
 59  OffOn                   86663 non-null  object
 60  SocialMedia             84437 non-null  object
 61  Extraversion            87305 non-null  object
 62  ScreenName              80486 non-null  object
 63  SOVisit1st              83877 non-null  object
 64  SOVisitFreq             88263 non-null  object
 65  SOVisitTo               88086 non-null  object
 66  SOFindAnswer            87816 non-null  object
 67  SOTimeSaved             86344 non-null  object
 68  SOHowMuchTime           68378 non-null  object
 69  SOAccount               87828 non-null  object
 70  SOPartFreq              74692 non-null  object
 71  SOJobs                  88066 non-null  object
 72  EntTeams                87841 non-null  object
 73  SOComm                  88131 non-null  object
 74  WelcomeChange           85855 non-null  object
 75  SONewContent            69560 non-null  object
 76  Age                     79210 non-null  float64
 77  Gender                  85406 non-null  object
 78  Trans                   83607 non-null  object
 79  Sexuality               76147 non-null  object
 80  Ethnicity               76668 non-null  object
 81  Dependents              83059 non-null  object
 82  SurveyLength            86984 non-null  object
 83  SurveyEase              87081 non-null  object
dtypes: float64(5), object(79)
memory usage: 57.6+ MB

In [5]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [6]:
df.head()

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,NaN,"Developer, desktop or enterprise applications;...",NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,I am actively looking for a job,I've never had a job,NaN,NaN,Financial performance or funding status of the...,"Something else changed (education, award, medi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C++;HTML/CSS;Python,C++;HTML/CSS;JavaScript;SQL,NaN,MySQL,Windows,Windows,Django,Django,NaN,NaN,Atom;PyCharm,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,Yes,Instagram,Online,Username,2017,Daily or almost daily,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",100 to 499 employees,"Designer;Developer, back-end;Developer, front-...",3,22,1,Slightly satisfied,Slightly satisfied,Not at all confident,Not sure,Not sure,"I’m not actively looking, but I am open to new...",1-2 years ago,Interview with people in peer roles,No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,THB,Thai baht,23000.0,Monthly,8820.0,40.0,There's no schedule or spec; I work on what se...,Distracting work environment;Inadequate access...,Less than once per month / Never,Home,Average,No,NaN,"No, but I think we should",Not sure,I have little or no influence,HTML/CSS,Elixir;HTML/CSS,PostgreSQL,PostgreSQL,NaN,NaN,NaN,Other(s):,NaN,NaN,Vim;Visual Studio Code,Linux-based,I do not use containers,NaN,NaN,Yes,Yes,Yes,Reddit,In real life (in person),Username,2011,A few times per week,Find answers to specific questions;Learn how t...,6-10 times per week,They were about the same,NaN,Yes,Less than once per month or monthly,Yes,"No, I've heard of them, but I am not part of a...",Neutral,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Developer, full-stack",3,16,Less than 1 year,Very satisfied,Slightly satisfied,Very confident,No,Not sure,I am not interested in new job opportunities,Less than a year ago,"Write code by hand (e.g., on a whiteboard);Int...",No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,61000.0,Yearly,61000.0,80.0,There's no schedule or spec; I work on what se...,NaN,Less than once per month / Never,Home,A little below average,No,NaN,"No, but I think we should",Developers typically have the most influence o...,I have little or no influence,C;C++;C#;Python;SQL,C;C#;JavaScript;SQL,MySQL;SQLite,MySQL;SQLite,Linux;Windows,Linux;Windows,NaN,NaN,.NET,.NET,Eclipse;Vim;Visual Studio;Visual Studio Code,Windows,I do not use containers,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",Yes,SIGH,Yes,Reddit,In real life (in person),Username,2014,Daily or almost daily,Find answers to specific questions;Pass the ti...,1-2 times per week,Stack Overflow was much faster,31-60 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"10,000 or more employees","Academic researcher;Developer, desktop or ente...",16,14,9,Very dissatisfied,Slightly dissatisfied,Somewhat confident,Yes,No,I am not interested in new job opportunities,Less than a year ago,"Write any code;Write code by hand (e.g., on a ...",No,"Industry that I'd be working in;Languages, fra...",I was preparing for a job search,UAH,Ukrainian hryvnia,NaN,NaN,NaN,55.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Inadequ...,A few days each month,Office,A little above average,"Yes, because I see value in code review",NaN,"Yes, it's part of our process",Not sure,I have little or no influence,C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA,HTML/CSS;Java;JavaScript;SQL;WebAssembly,Couchbase;MongoDB;MySQL;Oracle;PostgreSQL;SQLite,Couchbase;Firebase;MongoDB;MySQL;Oracle;Postgr...,Android;Linux;MacOS;Slack;Windows,Android;Docker;Kubernetes;Linux;Slack,Django;Express;Flask;jQuery;React.js;Spring,Flask;jQuery;React.js;Spring,Cordova;Node.js,Apache Spark;Hadoop;Node.js;React Native,IntelliJ;Notepad++;Vim,Linux-based,"Outside of work, for personal projects",Not at all,NaN,Yes,Also Yes,Yes,Facebook,In real life (in person),Username,I don't remember,Multiple times per day,Find answers to specific questions,More than 10 times per week,Stack Overflow was much faster,NaN,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","Yes, definitely",Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [7]:
schema_df = pd.read_csv('data/survey_results_schema.csv', index_col='Column')

In [8]:
schema_df

                                                             QuestionText
Column
Respondent              Randomized respondent ID number (not in order ...
MainBranch              Which of the following options best describes ...
Hobbyist                                          Do you code as a hobby?
OpenSourcer                   How often do you contribute to open source?
OpenSource              How do you feel about the quality of open sour...
Employment              Which of the following best describes your cur...
Country                         In which country do you currently reside?
Student                 Are you currently enrolled in a formal, degree...
EdLevel                 Which of the following best describes the high...
UndergradMajor          What was your main or most important field of ...
EduOther                Which of the following types of non-degree edu...
OrgSize                 Approximately how many people are employed by ...
DevType                 Which of the following describe you? Please se...
YearsCode               Including any education, how many years have y...
Age1stCode              At what age did you write your first line of c...
YearsCodePro            How many years have you coded professionally (...
CareerSat               Overall, how satisfied are you with your caree...
JobSat                  How satisfied are you with your current job? (...
MgrIdiot                How confident are you that your manager knows ...
MgrMoney                Do you believe that you need to be a manager t...
MgrWant                 Do you want to become a manager yourself in th...
JobSeek                 Which of the following best describes your cur...
LastHireDate            When was the last time that you took a job wit...
LastInt                 In your most recent successful job interview (...
FizzBuzz                Have you ever been asked to solve FizzBuzz in ...
JobFactors              Imagine that you are deciding between two job ...
ResumeUpdate            Think back to the last time you updated your r...
CurrencySymbol          Which currency do you use day-to-day? If your ...
CurrencyDesc            Which currency do you use day-to-day? If your ...
CompTotal               What is your current total compensation (salar...
CompFreq                 Is that compensation weekly, monthly, or yearly?
ConvertedComp           Salary converted to annual USD salaries using ...
WorkWeekHrs              On average, how many hours per week do you work?
WorkPlan                          How structured or planned is your work?
WorkChallenge           Of these options, what are your greatest chall...
WorkRemote                                How often do you work remotely?
WorkLoc                                   Where would you prefer to work?
ImpSyn                  For the specific work you do, and the years of...
CodeRev                          Do you review code as part of your work?
CodeRevHrs              On average, how many hours per week do you spe...
UnitTests               Does your company regularly employ unit tests ...
PurchaseHow             How does your company make decisions about pur...
PurchaseWhat            What level of influence do you, personally, ha...
LanguageWorkedWith      Which of the following programming, scripting,...
LanguageDesireNextYear  Which of the following programming, scripting,...
DatabaseWorkedWith      Which of the following database environments h...
DatabaseDesireNextYear  Which of the following database environments h...
PlatformWorkedWith      Which of the following platforms have you done...
PlatformDesireNextYear  Which of the following platforms have you done...
WebFrameWorkedWith      Which of the following web frameworks have you...
WebFrameDesireNextYear  Which of the following web frameworks have you...
MiscTechWorkedWith      Which of the following other frameworks, libra...
MiscTechDesireNextYear  Which of the following other frameworks, libra...
DevEnviron              Which development environment(s) do you use re...
OpSys                   What is the primary operating system in which ...
Containers              How do you use containers (Docker, Open Contai...
BlockchainOrg           How is your organization thinking about or imp...
BlockchainIs            Blockchain / cryptocurrency technology is prim...
BetterLife              Do you think people born today will have a bet...
ITperson                 Are you the "IT support person" for your family?
OffOn                         Have you tried turning it off and on again?
SocialMedia                   What social media site do you use the most?
Extraversion              Do you prefer online chat or IRL conversations?
ScreenName                                           What do you call it?
SOVisit1st              To the best of your memory, when did you first...
SOVisitFreq             How frequently would you say you visit Stack O...
SOVisitTo               I visit Stack Overflow to... (check all that a...
SOFindAnswer            On average, how many times a week do you find ...
SOTimeSaved             Think back to the last time you solved a codin...
SOHowMuchTime           About how much time did you save? If you're no...
SOAccount                           Do you have a Stack Overflow account?
SOPartFreq              How frequently would you say you participate i...
SOJobs                  Have you ever used or visited Stack Overflow J...
EntTeams                Have you ever used Stack Overflow for Enterpri...
SOComm                  Do you consider yourself a member of the Stack...
WelcomeChange           Compared to last year, how welcome do you feel...
SONewContent            Would you like to see any of the following on ...
Age                     What is your age (in years)? If you prefer not...
Gender                  Which of the following do you currently identi...
Trans                                     Do you identify as transgender?
Sexuality               Which of the following do you currently identi...
Ethnicity               Which of the following do you identify as? Ple...
Dependents              Do you have any dependents (e.g., children, el...
SurveyLength            How do you feel about the length of the survey...
SurveyEase              How easy or difficult was this survey to compl...

## 2. Selecting Rows and Columns

In [9]:
people = {
    'first': ['Suraj', 'Tapan', 'Leon', 'Kushal'],
    'last' : ['Wate', 'Agrawal', 'Fernandes', 'Wate'],
    'email' : ['suraj.w@email.com', 'tapan.a@email.com', 'leon.f@email.com', 'kushal.w@email.com']
}

In [10]:
people_df = pd.DataFrame(people)

In [11]:
people_df

    first       last               email
0   Suraj       Wate   suraj.w@email.com
1   Tapan    Agrawal   tapan.a@email.com
2    Leon  Fernandes    leon.f@email.com
3  Kushal       Wate  kushal.w@email.com

### Get column

In [12]:
# selecting column (which is a series)
people_df['email']

0     suraj.w@email.com
1     tapan.a@email.com
2      leon.f@email.com
3    kushal.w@email.com
Name: email, dtype: object

In [13]:
type(people_df['email'])

pandas.core.series.Series

In [14]:
# Same as above
people_df.email

0     suraj.w@email.com
1     tapan.a@email.com
2      leon.f@email.com
3    kushal.w@email.com
Name: email, dtype: object

In [15]:
people_df[['last', 'email']]

        last               email
0       Wate   suraj.w@email.com
1    Agrawal   tapan.a@email.com
2  Fernandes    leon.f@email.com
3       Wate  kushal.w@email.com

In [16]:
people_df.columns

Index(['first', 'last', 'email'], dtype='object')

### To get the rows

In [17]:
people_df.iloc[0]

first                Suraj
last                  Wate
email    suraj.w@email.com
Name: 0, dtype: object

In [18]:
people_df.iloc[[0, 1]]

   first     last              email
0  Suraj     Wate  suraj.w@email.com
1  Tapan  Agrawal  tapan.a@email.com

### Get Specific rows and columns

In [19]:
people_df.iloc[[0, 1], 2]

0    suraj.w@email.com
1    tapan.a@email.com
Name: email, dtype: object

#### Using loc

In [20]:
people_df.loc[[0, 1], 'email']

0    suraj.w@email.com
1    tapan.a@email.com
Name: email, dtype: object

In [21]:
people_df.loc[[0, 2], ['email', 'last']]

               email       last
0  suraj.w@email.com       Wate
2   leon.f@email.com  Fernandes

In [22]:
df.shape

(88883, 84)

In [23]:
df.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'WorkWeekHrs', 'WorkPlan', 'WorkChallenge',
       'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [24]:
df['Hobbyist']

Respondent
1        Yes
2         No
3        Yes
4         No
5        Yes
        ...
88377    Yes
88601     No
88802     No
88816     No
88863    Yes
Name: Hobbyist, Length: 88883, dtype: object

In [25]:
df['Hobbyist'].value_counts()

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

In [26]:
df.loc[2, 'Hobbyist']

'No'

In [27]:
df.loc[[4, 5, 8], 'Hobbyist']

Respondent
4     No
5    Yes
8    Yes
Name: Hobbyist, dtype: object

In [28]:
# First three row

df.loc[1:3, 'Hobbyist':'Employment']

,Hobbyist,OpenSourcer,OpenSource,Employment
Respondent,,,,
1,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work"
2,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work"
3,Yes,Never,The quality of OSS and closed source software ...,Employed full-time

## 3. Indexes - How to Set, Reset, and Use Indexes

In [29]:
people_df['email']

0     suraj.w@email.com
1     tapan.a@email.com
2      leon.f@email.com
3    kushal.w@email.com
Name: email, dtype: object

In [30]:
people_df.set_index('email')

                     first       last
email
suraj.w@email.com    Suraj       Wate
tapan.a@email.com    Tapan    Agrawal
leon.f@email.com      Leon  Fernandes
kushal.w@email.com  Kushal       Wate

In [31]:
people_df

    first       last               email
0   Suraj       Wate   suraj.w@email.com
1   Tapan    Agrawal   tapan.a@email.com
2    Leon  Fernandes    leon.f@email.com
3  Kushal       Wate  kushal.w@email.com

In [32]:
people_df.set_index('email', inplace=True)

In [33]:
people_df

                     first       last
email
suraj.w@email.com    Suraj       Wate
tapan.a@email.com    Tapan    Agrawal
leon.f@email.com      Leon  Fernandes
kushal.w@email.com  Kushal       Wate

In [34]:
people_df.index

Index(['suraj.w@email.com', 'tapan.a@email.com', 'leon.f@email.com',
       'kushal.w@email.com'],
      dtype='object', name='email')

In [35]:
people_df.loc['suraj.w@email.com']

first    Suraj
last      Wate
Name: suraj.w@email.com, dtype: object

### Reset the index

In [36]:
people_df.reset_index(inplace=True)

In [37]:
people_df

                email   first       last
0   suraj.w@email.com   Suraj       Wate
1   tapan.a@email.com   Tapan    Agrawal
2    leon.f@email.com    Leon  Fernandes
3  kushal.w@email.com  Kushal       Wate

------------

In [38]:
schema_df.loc['Hobbyist']

QuestionText    Do you code as a hobby?
Name: Hobbyist, dtype: object

In [39]:
schema_df.loc['MgrIdiot', 'QuestionText']

'How confident are you that your manager knows what they’re doing?'

### Sorting the dataframe by index

In [40]:
schema_df.sort_index(inplace=True)

In [41]:
schema_df.sort_index(ascending=False)

                                                             QuestionText
Column
YearsCodePro            How many years have you coded professionally (...
YearsCode               Including any education, how many years have y...
WorkWeekHrs              On average, how many hours per week do you work?
WorkRemote                                How often do you work remotely?
WorkPlan                          How structured or planned is your work?
WorkLoc                                   Where would you prefer to work?
WorkChallenge           Of these options, what are your greatest chall...
WelcomeChange           Compared to last year, how welcome do you feel...
WebFrameWorkedWith      Which of the following web frameworks have you...
WebFrameDesireNextYear  Which of the following web frameworks have you...
UnitTests               Does your company regularly employ unit tests ...
UndergradMajor          What was your main or most important field of ...
Trans                                     Do you identify as transgender?
SurveyLength            How do you feel about the length of the survey...
SurveyEase              How easy or difficult was this survey to compl...
Student                 Are you currently enrolled in a formal, degree...
SocialMedia                   What social media site do you use the most?
Sexuality               Which of the following do you currently identi...
ScreenName                                           What do you call it?
SOVisitTo               I visit Stack Overflow to... (check all that a...
SOVisitFreq             How frequently would you say you visit Stack O...
SOVisit1st              To the best of your memory, when did you first...
SOTimeSaved             Think back to the last time you solved a codin...
SOPartFreq              How frequently would you say you participate i...
SONewContent            Would you like to see any of the following on ...
SOJobs                  Have you ever used or visited Stack Overflow J...
SOHowMuchTime           About how much time did you save? If you're no...
SOFindAnswer            On average, how many times a week do you find ...
SOComm                  Do you consider yourself a member of the Stack...
SOAccount                           Do you have a Stack Overflow account?
ResumeUpdate            Think back to the last time you updated your r...
Respondent              Randomized respondent ID number (not in order ...
PurchaseWhat            What level of influence do you, personally, ha...
PurchaseHow             How does your company make decisions about pur...
PlatformWorkedWith      Which of the following platforms have you done...
PlatformDesireNextYear  Which of the following platforms have you done...
OrgSize                 Approximately how many people are employed by ...
OpenSourcer                   How often do you contribute to open source?
OpenSource              How do you feel about the quality of open sour...
OpSys                   What is the primary operating system in which ...
OffOn                         Have you tried turning it off and on again?
MiscTechWorkedWith      Which of the following other frameworks, libra...
MiscTechDesireNextYear  Which of the following other frameworks, libra...
MgrWant                 Do you want to become a manager yourself in th...
MgrMoney                Do you believe that you need to be a manager t...
MgrIdiot                How confident are you that your manager knows ...
MainBranch              Which of the following options best describes ...
LastInt                 In your most recent successful job interview (...
LastHireDate            When was the last time that you took a job wit...
LanguageWorkedWith      Which of the following programming, scripting,...
LanguageDesireNextYear  Which of the following programming, scripting,...
JobSeek                 Which of the following best describes your cur...
JobSat                  How satisfied are you with your current job? (...
JobFactors              Imagine that you are deciding between two job ...
ImpSyn                  For the specific work you do, and the years of...
ITperson                 Are you the "IT support person" for your family?
Hobbyist                                          Do you code as a hobby?
Gender                  Which of the following do you currently identi...
FizzBuzz                Have you ever been asked to solve FizzBuzz in ...
Extraversion              Do you prefer online chat or IRL conversations?
Ethnicity               Which of the following do you identify as? Ple...
EntTeams                Have you ever used Stack Overflow for Enterpri...
Employment              Which of the following best describes your cur...
EduOther                Which of the following types of non-degree edu...
EdLevel                 Which of the following best describes the high...
DevType                 Which of the following describe you? Please se...
DevEnviron              Which development environment(s) do you use re...
Dependents              Do you have any dependents (e.g., children, el...
DatabaseWorkedWith      Which of the following database environments h...
DatabaseDesireNextYear  Which of the following database environments h...
CurrencySymbol          Which currency do you use day-to-day? If your ...
CurrencyDesc            Which currency do you use day-to-day? If your ...
Country                         In which country do you currently reside?
ConvertedComp           Salary converted to annual USD salaries using ...
Containers              How do you use containers (Docker, Open Contai...
CompTotal               What is your current total compensation (salar...
CompFreq                 Is that compensation weekly, monthly, or yearly?
CodeRevHrs              On average, how many hours per week do you spe...
CodeRev                          Do you review code as part of your work?
CareerSat               Overall, how satisfied are you with your caree...
BlockchainOrg           How is your organization thinking about or imp...
BlockchainIs            Blockchain / cryptocurrency technology is prim...
BetterLife              Do you think people born today will have a bet...
Age1stCode              At what age did you write your first line of c...
Age                     What is your age (in years)? If you prefer not...

## 4. Filtering - Using conditionals to filter rows and columns

In [42]:
people_df['last'] == 'Agrawal'

0    False
1     True
2    False
3    False
Name: last, dtype: bool

In [43]:
filt = (people_df['last'] == 'Agrawal')

In [44]:
people_df[filt]

               email  first     last
1  tapan.a@email.com  Tapan  Agrawal

In [45]:
people_df[people_df['last'] == 'Agrawal']

               email  first     last
1  tapan.a@email.com  Tapan  Agrawal

In [46]:
people_df.loc[filt]

               email  first     last
1  tapan.a@email.com  Tapan  Agrawal

In [47]:
people_df.loc[filt, 'email']

1    tapan.a@email.com
Name: email, dtype: object

### AND and OR operators

In [48]:
filt = (people_df['last'] == 'Wate') & (people_df['first'] == 'Kushal')

In [49]:
people_df.loc[filt, 'email']

3    kushal.w@email.com
Name: email, dtype: object

In [50]:
# NOT operator

people_df.loc[~filt, 'email']

0    suraj.w@email.com
1    tapan.a@email.com
2     leon.f@email.com
Name: email, dtype: object

----------

In [51]:
high_salary = (df['ConvertedComp'] > 70000)

In [52]:
df.loc[high_salary, ['Country', 'LanguageWorkedWith', 'ConvertedComp']]

,Country,LanguageWorkedWith,ConvertedComp
Respondent,,,
6,Canada,Java;R;SQL,366420.0
9,New Zealand,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,95179.0
13,United States,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...,90000.0
16,United Kingdom,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;T...,455352.0
22,United States,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript;...,103000.0
...,...,...,...
88876,United States,Bash/Shell/PowerShell;C#;HTML/CSS;Java;Python;...,180000.0
88877,United States,Bash/Shell/PowerShell;C;Clojure;HTML/CSS;Java;...,2000000.0
88878,United States,HTML/CSS;JavaScript;Scala;TypeScript,130000.0
88879,Finland,Bash/Shell/PowerShell;C++;Python,82488.0
88882,Netherlands,C#;HTML/CSS;Java;JavaScript;PHP;Python,588012.0

In [53]:
countries  = ['United States', 'India', 'United Kingdon', 'Germany', 'Canada']
filt = df['Country'].isin(countries)

In [54]:
df.loc[filt, 'Country']

Respondent
4        United States
6               Canada
8                India
10               India
12              Canada
             ...
85182           Canada
85642    United States
86012            India
88282    United States
88377           Canada
Name: Country, Length: 39271, dtype: object

### Filter Strings

In [55]:
df['LanguageWorkedWith']

Respondent
1                          HTML/CSS;Java;JavaScript;Python
2                                      C++;HTML/CSS;Python
3                                                 HTML/CSS
4                                      C;C++;C#;Python;SQL
5              C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
                               ...
88377                        HTML/CSS;JavaScript;Other(s):
88601                                                  NaN
88802                                                  NaN
88816                                                  NaN
88863    Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
Name: LanguageWorkedWith, Length: 88883, dtype: object

In [56]:
filt = df['LanguageWorkedWith'].str.contains('Python', na=False)

In [57]:
df.loc[filt, 'LanguageWorkedWith']

Respondent
1                          HTML/CSS;Java;JavaScript;Python
2                                      C++;HTML/CSS;Python
4                                      C;C++;C#;Python;SQL
5              C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
8        Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
                               ...
84539    Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
85738      Bash/Shell/PowerShell;C++;Python;Ruby;Other(s):
86566      Bash/Shell/PowerShell;HTML/CSS;Python;Other(s):
87739             C;C++;HTML/CSS;JavaScript;PHP;Python;SQL
88212                           HTML/CSS;JavaScript;Python
Name: LanguageWorkedWith, Length: 36443, dtype: object

------------

## 5. Updating Rows and Columns - Modifying Data Within DataFrames

In [58]:
people_df

                email   first       last
0   suraj.w@email.com   Suraj       Wate
1   tapan.a@email.com   Tapan    Agrawal
2    leon.f@email.com    Leon  Fernandes
3  kushal.w@email.com  Kushal       Wate

In [59]:
people_df.columns

Index(['email', 'first', 'last'], dtype='object')

In [60]:
people_df.columns = ['email', 'first_name', 'last_name']

In [61]:
people_df

                email first_name  last_name
0   suraj.w@email.com      Suraj       Wate
1   tapan.a@email.com      Tapan    Agrawal
2    leon.f@email.com       Leon  Fernandes
3  kushal.w@email.com     Kushal       Wate

In [62]:
people_df.columns = [x.upper() for x in people_df.columns]
people_df

                EMAIL FIRST_NAME  LAST_NAME
0   suraj.w@email.com      Suraj       Wate
1   tapan.a@email.com      Tapan    Agrawal
2    leon.f@email.com       Leon  Fernandes
3  kushal.w@email.com     Kushal       Wate

In [63]:
people_df.columns = people_df.columns.str.replace('_', ' ')
people_df

                EMAIL FIRST NAME  LAST NAME
0   suraj.w@email.com      Suraj       Wate
1   tapan.a@email.com      Tapan    Agrawal
2    leon.f@email.com       Leon  Fernandes
3  kushal.w@email.com     Kushal       Wate

In [64]:
people_df.columns = [x.lower() for x in people_df.columns]
people_df.columns = people_df.columns.str.replace(' ', '_')
people_df

                email first_name  last_name
0   suraj.w@email.com      Suraj       Wate
1   tapan.a@email.com      Tapan    Agrawal
2    leon.f@email.com       Leon  Fernandes
3  kushal.w@email.com     Kushal       Wate

In [65]:
people_df.rename(columns={'first_name': 'first', 'last_name': 'last'}, inplace=True)
people_df

                email   first       last
0   suraj.w@email.com   Suraj       Wate
1   tapan.a@email.com   Tapan    Agrawal
2    leon.f@email.com    Leon  Fernandes
3  kushal.w@email.com  Kushal       Wate

### How to update single value

In [66]:
people_df.loc[2]

email    leon.f@email.com
first                Leon
last            Fernandes
Name: 2, dtype: object

In [67]:
people_df.loc[2] = ['thomas.a@email.com', 'Thomas', 'Anderson']
people_df

                email   first      last
0   suraj.w@email.com   Suraj      Wate
1   tapan.a@email.com   Tapan   Agrawal
2  thomas.a@email.com  Thomas  Anderson
3  kushal.w@email.com  Kushal      Wate

In [68]:
people_df.loc[2, ['last', 'email']]

last               Anderson
email    thomas.a@email.com
Name: 2, dtype: object

In [69]:
people_df.loc[2, ['last', 'email']] = ['Fernandes', 'thomas.f@email.com']
people_df

                email   first       last
0   suraj.w@email.com   Suraj       Wate
1   tapan.a@email.com   Tapan    Agrawal
2  thomas.f@email.com  Thomas  Fernandes
3  kushal.w@email.com  Kushal       Wate

In [70]:
people_df.loc[2, 'first'] = 'Leon'
people_df

                email   first       last
0   suraj.w@email.com   Suraj       Wate
1   tapan.a@email.com   Tapan    Agrawal
2  thomas.f@email.com    Leon  Fernandes
3  kushal.w@email.com  Kushal       Wate

In [71]:
people_df.at[2, 'email'] = 'leon.f@email.com'
people_df

                email   first       last
0   suraj.w@email.com   Suraj       Wate
1   tapan.a@email.com   Tapan    Agrawal
2    leon.f@email.com    Leon  Fernandes
3  kushal.w@email.com  Kushal       Wate

In [72]:
filt = (people_df['email'] == 'suraj.w@email.com')
people_df[filt]['last'] = 'Smith'

C:\Users\Suraj\AppData\Local\Temp\ipykernel_38612\3779162193.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  people_df[filt]['last'] = 'Smith'

In [73]:
filt = (people_df['email'] == 'suraj.w@email.com')
people_df.loc[filt, 'last'] = 'Smith'
people_df

                email   first       last
0   suraj.w@email.com   Suraj      Smith
1   tapan.a@email.com   Tapan    Agrawal
2    leon.f@email.com    Leon  Fernandes
3  kushal.w@email.com  Kushal       Wate

### Update multiple row of data

In [74]:
people_df['email'].str.upper()

0     SURAJ.W@EMAIL.COM
1     TAPAN.A@EMAIL.COM
2      LEON.F@EMAIL.COM
3    KUSHAL.W@EMAIL.COM
Name: email, dtype: object

In [75]:
people_df['email'] =  people_df['email'].str.lower()

There are four advanced method to update multiple row of data

1. apply
2. map
3. applymap
4. replace

#### Apply

In [76]:
people_df['email'].apply(len)

0    17
1    17
2    16
3    18
Name: email, dtype: int64

In [77]:
# Basic example to understand the concept

def update_email(email):
    return email.upper()

In [78]:
people_df['email'].apply(update_email)

0     SURAJ.W@EMAIL.COM
1     TAPAN.A@EMAIL.COM
2      LEON.F@EMAIL.COM
3    KUSHAL.W@EMAIL.COM
Name: email, dtype: object

In [79]:
people_df['email'] = people_df['email'].apply(update_email)
people_df

                email   first       last
0   SURAJ.W@EMAIL.COM   Suraj      Smith
1   TAPAN.A@EMAIL.COM   Tapan    Agrawal
2    LEON.F@EMAIL.COM    Leon  Fernandes
3  KUSHAL.W@EMAIL.COM  Kushal       Wate

In [80]:
# Same example with lambda funtion

people_df['email'] = people_df['email'].apply(lambda x: x.lower())
people_df

                email   first       last
0   suraj.w@email.com   Suraj      Smith
1   tapan.a@email.com   Tapan    Agrawal
2    leon.f@email.com    Leon  Fernandes
3  kushal.w@email.com  Kushal       Wate

In [81]:
# to check the number of the rows
people_df.apply(len)

email    4
first    4
last     4
dtype: int64

In [82]:
# to check the number of the columns
people_df.apply(len, axis='columns')

0    3
1    3
2    3
3    3
dtype: int64

In [83]:
# To check the minimum value in the series

people_df.apply(pd.Series.min)

email    kushal.w@email.com
first                Kushal
last                Agrawal
dtype: object

In [84]:
# Same example using lambda function

people_df.apply(lambda x: x.min())

email    kushal.w@email.com
first                Kushal
last                Agrawal
dtype: object

#### Applymap

In [85]:
people_df.applymap(len)

   email  first  last
0     17      5     5
1     17      5     7
2     16      4     9
3     18      6     4

In [86]:
people_df.applymap(str.lower)

                email   first       last
0   suraj.w@email.com   suraj      smith
1   tapan.a@email.com   tapan    agrawal
2    leon.f@email.com    leon  fernandes
3  kushal.w@email.com  kushal       wate

#### Map

Map only works on the series

In [87]:
people_df

                email   first       last
0   suraj.w@email.com   Suraj      Smith
1   tapan.a@email.com   Tapan    Agrawal
2    leon.f@email.com    Leon  Fernandes
3  kushal.w@email.com  Kushal       Wate

In [88]:
people_df['first'].map({'Suraj':'Agent', 'Tapan':'Thomas'})

0     Agent
1    Thomas
2       NaN
3       NaN
Name: first, dtype: object

#### Replace

In [89]:
people_df['first'].replace({'Suraj':'Agent', 'Tapan':'Thomas'})

0     Agent
1    Thomas
2      Leon
3    Kushal
Name: first, dtype: object

-------------------

In [90]:
# Rename the columns title

df.rename(columns={'ConvertedComp':'SalaryUSD'}, inplace=True)
df.head(2)

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,SalaryUSD,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,NaN,"Developer, desktop or enterprise applications;...",NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,I am actively looking for a job,I've never had a job,NaN,NaN,Financial performance or funding status of the...,"Something else changed (education, award, medi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C++;HTML/CSS;Python,C++;HTML/CSS;JavaScript;SQL,NaN,MySQL,Windows,Windows,Django,Django,NaN,NaN,Atom;PyCharm,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,Yes,Instagram,Online,Username,2017,Daily or almost daily,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult

In [91]:
df['SalaryUSD']

Respondent
1            NaN
2            NaN
3         8820.0
4        61000.0
5            NaN
          ...
88377        NaN
88601        NaN
88802        NaN
88816        NaN
88863        NaN
Name: SalaryUSD, Length: 88883, dtype: float64

In [92]:
df['Hobbyist']

Respondent
1        Yes
2         No
3        Yes
4         No
5        Yes
        ...
88377    Yes
88601     No
88802     No
88816     No
88863    Yes
Name: Hobbyist, Length: 88883, dtype: object

In [93]:
df['Hobbyist'].map({'Yes':True, 'No':False})

Respondent
1         True
2        False
3         True
4        False
5         True
         ...
88377     True
88601    False
88802    False
88816    False
88863     True
Name: Hobbyist, Length: 88883, dtype: bool

In [94]:
df['Hobbyist'] = df['Hobbyist'].map({'Yes':True, 'No':False})

## 6. Add/Remove Rows and Columns from DataFrames

### Adding new column

In [95]:


people_df['full_name'] = people_df['first'] + ' ' + people_df['last']

In [96]:
people_df

                email   first       last       full_name
0   suraj.w@email.com   Suraj      Smith     Suraj Smith
1   tapan.a@email.com   Tapan    Agrawal   Tapan Agrawal
2    leon.f@email.com    Leon  Fernandes  Leon Fernandes
3  kushal.w@email.com  Kushal       Wate     Kushal Wate

In [97]:
# Removing the columns

people_df.drop(columns=['first', 'last'], inplace=True)

In [98]:
people_df

                email       full_name
0   suraj.w@email.com     Suraj Smith
1   tapan.a@email.com   Tapan Agrawal
2    leon.f@email.com  Leon Fernandes
3  kushal.w@email.com     Kushal Wate

In [99]:
# Splitting the column

people_df['full_name'].str.split(' ', expand = True)

        0          1
0   Suraj      Smith
1   Tapan    Agrawal
2    Leon  Fernandes
3  Kushal       Wate

In [100]:
people_df[['first', 'last']] = people_df['full_name'].str.split(' ', expand = True)

In [101]:
people_df

                email       full_name   first       last
0   suraj.w@email.com     Suraj Smith   Suraj      Smith
1   tapan.a@email.com   Tapan Agrawal   Tapan    Agrawal
2    leon.f@email.com  Leon Fernandes    Leon  Fernandes
3  kushal.w@email.com     Kushal Wate  Kushal       Wate

### Adding row

In [102]:
people_df.append({'first':'Tony'}, ignore_index=True)

C:\Users\Suraj\AppData\Local\Temp\ipykernel_38612\2735031197.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  people_df.append({'first':'Tony'}, ignore_index=True)

                email       full_name   first       last
0   suraj.w@email.com     Suraj Smith   Suraj      Smith
1   tapan.a@email.com   Tapan Agrawal   Tapan    Agrawal
2    leon.f@email.com  Leon Fernandes    Leon  Fernandes
3  kushal.w@email.com     Kushal Wate  Kushal       Wate
4                 NaN             NaN    Tony        NaN

In [103]:
pd.concat([people_df, pd.DataFrame.from_records([{'first':'Tony'}])])

                email       full_name   first       last
0   suraj.w@email.com     Suraj Smith   Suraj      Smith
1   tapan.a@email.com   Tapan Agrawal   Tapan    Agrawal
2    leon.f@email.com  Leon Fernandes    Leon  Fernandes
3  kushal.w@email.com     Kushal Wate  Kushal       Wate
0                 NaN             NaN    Tony        NaN

In [104]:
people2 = {
    'first': ['Tony', 'Steve'],
    'last': ['Stark', 'Rogers'],
    'email': ['IronMan@avenge.com', 'Cap@avenge.com']
}
people_df2 = pd.DataFrame(people2)

In [105]:
people_df2

   first    last               email
0   Tony   Stark  IronMan@avenge.com
1  Steve  Rogers      Cap@avenge.com

In [106]:
pd.concat([people_df, people_df2])

                email       full_name   first       last
0   suraj.w@email.com     Suraj Smith   Suraj      Smith
1   tapan.a@email.com   Tapan Agrawal   Tapan    Agrawal
2    leon.f@email.com  Leon Fernandes    Leon  Fernandes
3  kushal.w@email.com     Kushal Wate  Kushal       Wate
0  IronMan@avenge.com             NaN    Tony      Stark
1      Cap@avenge.com             NaN   Steve     Rogers

In [107]:
people_df

                email       full_name   first       last
0   suraj.w@email.com     Suraj Smith   Suraj      Smith
1   tapan.a@email.com   Tapan Agrawal   Tapan    Agrawal
2    leon.f@email.com  Leon Fernandes    Leon  Fernandes
3  kushal.w@email.com     Kushal Wate  Kushal       Wate

Use ignore_index=True to ignore the existing index and reset the index.

In [108]:
people_df = pd.concat([people_df, people_df2], ignore_index=True)

In [109]:
people_df

                email       full_name   first       last
0   suraj.w@email.com     Suraj Smith   Suraj      Smith
1   tapan.a@email.com   Tapan Agrawal   Tapan    Agrawal
2    leon.f@email.com  Leon Fernandes    Leon  Fernandes
3  kushal.w@email.com     Kushal Wate  Kushal       Wate
4  IronMan@avenge.com             NaN    Tony      Stark
5      Cap@avenge.com             NaN   Steve     Rogers

### Remove rows

In [110]:
people_df.drop(index=1)

                email       full_name   first       last
0   suraj.w@email.com     Suraj Smith   Suraj      Smith
2    leon.f@email.com  Leon Fernandes    Leon  Fernandes
3  kushal.w@email.com     Kushal Wate  Kushal       Wate
4  IronMan@avenge.com             NaN    Tony      Stark
5      Cap@avenge.com             NaN   Steve     Rogers

In [111]:
people_df.drop(index=people_df[people_df['last']=='Rogers'].index)

                email       full_name   first       last
0   suraj.w@email.com     Suraj Smith   Suraj      Smith
1   tapan.a@email.com   Tapan Agrawal   Tapan    Agrawal
2    leon.f@email.com  Leon Fernandes    Leon  Fernandes
3  kushal.w@email.com     Kushal Wate  Kushal       Wate
4  IronMan@avenge.com             NaN    Tony      Stark

It's always better to break the code for better readability and understanding. So the above code can be breaked into two line.

In [113]:
filt = people_df['last']=='Rogers'
people_df.drop(index=people_df[filt].index)

                email       full_name   first       last
0   suraj.w@email.com     Suraj Smith   Suraj      Smith
1   tapan.a@email.com   Tapan Agrawal   Tapan    Agrawal
2    leon.f@email.com  Leon Fernandes    Leon  Fernandes
3  kushal.w@email.com     Kushal Wate  Kushal       Wate
4  IronMan@avenge.com             NaN    Tony      Stark

---------------

## 7. Sorting Data

## 8. Grouping and Aggregating - Analyzing and Exploring Your Data

## 9. Cleaning Data - Casting Datatypes and Handling Missing Values

## 10. Working with Dates and Time Series Data

## 11. Reading/Writing Data to Different Sources